<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>

<section id="list-movie">
<article >
    <h2> Producto 1 </h2>
        <figure  class="images-list">
            <img src="img/the-big-heat.jpg">
        </figure>
        <a href="#"> <i class="fas fa-trash"> </i> </a>
        <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>

<article>
    <h2> Producto 2 </h2>
    <figure  class="images-list">
        <img src="img/phantom-lady.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>

</article>

<article>
    <h2> Producto 3 </h2>
    <figure  class="images-list">
        <img src="img/the-big-combo.jpg">
    </figure>
<article>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>
</article>

<article>
    <h2> Producto 4 </h2>
    <figure  class="images-list">
        <img src="img/double-indemnity.jpg">
    </figure>
    
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>

</article>

<article>
    <h2> Producto 5 </h2>
    <figure  class="images-list">
        <img src="img/dune.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>

</article>

<article>
    <h2> Producto 6 </h2>
    <figure  class="images-list">
        <img src="img/maligno.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>

</article>

<article>
    <h2> Producto 7 </h2>
    <figure  class="images-list">
        <img src="img/Eternals.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>

<article>
    <h2> Producto 8 </h2>
    <figure  class="images-list">
        <img src="img/matrix.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>

<article>
    <h2> Producto 9 </h2>
    <figure  class="images-list">
        <img src="img/metropolis1.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>

<article>
    <h2> Producto 10 </h2>
    <figure  class="images-list">
        <img src="img/zama1.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>

<article>
    <h2> Producto 11 </h2>
        <figure  class="images-list">
            <img src="img/man.jpg">
        </figure>
        <a href="#"> <i class="fas fa-trash"> </i> </a>
        <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>

<article>
    <h2> Producto 12 </h2>
    <figure  class="images-list">
        <img src="img/rosemary.jpg">
    </figure>
    <a href="#"> <i class="fas fa-trash"> </i> </a>
    <a href="#"> <i class="fas fa-pencil-alt"> </i> </a>
</article>

</section>

</main>

<%- include ('../modules/footer') %>

</body>
</html>