<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

    <main>
        <section id="createProduct">

        <h2 class="titulos">Nuevo producto</h2>
        <select name="type_id" id="type_id" class="selectOption" onchange="changeOptions(this)">
            <option selected value="0"> Elija un artículo </option>
                <option value="Película">Película</option> 
                <option value="Otros">Otros</option> 
        </select>

        <script>
            function changeOptions(selectEl) {
                let selectedValue = selectEl.options[selectEl.selectedIndex].value;
                let subForms = document.getElementsByClassName('formTest')
                for (let i = 0; i < subForms.length; i += 1) {
                    if (selectedValue === subForms[i].name) {
                    subForms[i].setAttribute('style', 'display:block')
                    } else {
                    subForms[i].setAttribute('style', 'display:none') 
                    }
                }
            }
        </script>
    
    
    <form action="/" id="creationForm" method="post" style="display:none" class="formTest" name="Película">

    <fieldset class="fieldNuevo">
        <label for="name"><input type="text" name="name" class="cajaNuevo" placeholder="Nombre" required  >
        <span>Nombre</span>
        </label>
        
    </fieldset>
    
    <fieldset class="fieldNuevo">
        <label for="productLink"><input type="text" name="productLink" class="cajaNuevo" placeholder="Link a trailer" required  >
        <span>Link del trailer</span>
        </label>
        
    </fieldset>


    <fieldset class="fieldNuevo">
        <label for="description"><input type="text" name="description" class="cajaNuevo" placeholder="Descripción" required  >
        <span>Breve descripción</span>
        </label>
        
    </fieldset>

    <fieldset id="category_id">
        <legend>Categoría</legend>
        <input class="hidden radio-label" id="radioUno" type="radio" name="category_id" value="1">
        <label class="button-label" for="radioUno">Clásica</label>
        <input class="hidden radio-label" id="radioDos" type="radio" name="category_id" value="2">
        <label class="button-label" for="radioDos">Moderna</label>
        <input class="hidden radio-label" id="radioTres" type="radio" name="category_id" value="3">
        <label class="button-label" for="radioTres">Estreno</label>
    </fieldset>

    <fieldset id="restriction_id">
        <legend>Restricciones de edad</legend>
        <input class="hidden radio-label" id="ageATP" type="radio" name="restriction_id" value="1">
        <label class="button-label" for="ageATP">ATP</label>
        <input class="hidden radio-label" id="ageThirteen" type="radio" name="restriction_id" value="2">
        <label class="button-label" for="ageThirteen">+13</label>
        <input class="hidden radio-label" id="ageSixteen" type="radio" name="restriction_id" value="3">
        <label class="button-label" for="ageSixteen">+16</label>
        <input class="hidden radio-label" id="ageEighteen" type="radio" name="restriction_id" value="4">
        <label class="button-label" for="ageEighteen">+18</label> 
        <input class="hidden radio-label" id="conditioned" type="radio" name="restriction_id" value="5">
        <label class="button-label" for="conditioned">Condicionada</label> 
    </fieldset>

    <fieldset id="imageInput">
        <legend>Escoja una imagen</legend>
        <label for="createImage"><input type="file" name="createImage" accept=".jpg, .png" required ></label>
    </fieldset>

    <fieldset class="fieldCheckbox">
        <legend>Género</legend>
            <label class="labelCheck" for="comedia" name="genre_id"><input type="checkbox"  id="comedia" name="genre_id"  value="1"> Drama</label>  
            <label class="labelCheck" for="drama" name="genre_id"><input type="checkbox"  id="drama" name="genre_id"  value="2"> Comedia</label>
            <label class="labelCheck" for="fantasia" name="genre_id"><input type="checkbox"  id="fantasia" name="genre_id"  value="3"> Fantasía</label>
            <label class="labelCheck" for="superscifi" name="genre_id"><input type="checkbox"  id="superscifi" name="genre_id"  value="4"> Animación</label>
            <label class="labelCheck" for="infantil" name="genre_id"><input type="checkbox"  id="infantil" name="genre_id"  value="5"> Histórica</label>
            <label class="labelCheck" for="historia" name="genre_id"><input type="checkbox"  id="historia" name="genre_id"  value="6"> Superhéroes</label> 
            <label class="labelCheck" for="historia" name="genre_id"><input type="checkbox"  id="historia" name="genre_id"  value="7"> Ciencia ficción</label>
            <label class="labelCheck" for="historia" name="genre_id"><input type="checkbox"  id="historia" name="genre_id"  value="8"> No ficción</label>
            <label class="labelCheck" for="historia" name="genre_id"><input type="checkbox"  id="historia" name="genre_id"  value="9"> Musical</label>
            <label class="labelCheck" for="historia" name="genre_id"><input type="checkbox"  id="historia" name="genre_id"  value="10"> Aventuras</label>   
    </fieldset>

                <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">Aceptar</button>
                    <button type="reset" class="reset">Cancelar</button> 
                </fieldset>

</form>


<form action="/" id="creationForm" method="post" style="display:none" class="formTest" name="Otros">

    <fieldset id="type_id">
        <legend>Tipo de producto</legend>
        <input class="hidden radio-label" id="beverage" type="radio" name="type_id" value="1">
        <label class="button-label" for="beverage">Bebidas</label>
        <input class="hidden radio-label" id="food" type="radio" name="type_id" value="2">
        <label class="button-label" for="food">Alimento</label>
        <input class="hidden radio-label" id="combo" type="radio" name="type_id" value="3">
        <label class="button-label" for="combo">Combo</label>
        <input class="hidden radio-label" id="yearPass" type="radio" name="type_id" value="4">
        <label class="button-label" for="yearPass">Abono mensual</label> 
        <input class="hidden radio-label" id="monthPass" type="radio" name="type_id" value="5">
        <label class="button-label" for="monthPass">Abono anual</label> 
    </fieldset>


    <fieldset class="fieldNuevo">
        <label for="name"><input type="text" name="name" class="cajaNuevo" placeholder="Nombre" required  >
        <span>Nombre</span>
        </label>
        
    </fieldset>

    <fieldset class="fieldNuevo">
        <label for="description"><input type="text" name="description" class="cajaNuevo" placeholder="Descripción" required  >
        <span>Breve descripción</span>
        </label>
        
    </fieldset>

    <fieldset id="imageInput">
        <legend>Escoja una imagen</legend>
        <label for="createImage"><input type="file" name="createImage" accept=".jpg, .png" required ></label>
    </fieldset>

    <fieldset class="fieldNuevo">
        <legend>Precio</legend>
        <label for="price"><input type="number" name="price" class="cajaNuevo" placeholder="Precio" >
        <span>Precio</span>
        </label>
        
    </fieldset>

                <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">Aceptar</button>
                    <button type="reset" class="reset">Cancelar</button> 
                </fieldset>

</form>

            <!-- </form> -->
        </section>
    </main>


    <%- include ('../modules/footer') %>
    
    </body>
    </html>