<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

    <main>

        <section id="createProduct">

        <h2 class="titulos">Nuevo producto</h2>
        
        
<form action="/products/other/create" id="creationForm" method="post" class="formTest" name="Others" enctype="multipart/form-data">

    <fieldset id="type_id">
        <legend>Tipo de producto</legend>
        <input class="hidden radio-label" id="beverage" type="radio" name="type_id" value="1">
        <label class="button-label" for="beverage">Bebidas</label>
        <input class="hidden radio-label" id="food" type="radio" name="type_id" value="2">
        <label class="button-label" for="food">Alimento</label>
        <input class="hidden radio-label" id="combo" type="radio" name="type_id" value="3">
        <label class="button-label" for="combo">Combo</label>
        <input class="hidden radio-label" id="yearPass" type="radio" name="type_id" value="4">
        <label class="button-label" for="yearPass">Abono mensual</label> 
        <input class="hidden radio-label" id="monthPass" type="radio" name="type_id" value="5">
        <label class="button-label" for="monthPass">Abono anual</label> 
    </fieldset>


    <fieldset class="fieldNuevo">
        <label for="name"><input type="text" name="name" class="cajaNuevo" placeholder="Nombre" required  >
        <span>Nombre</span>
        </label>
        
    </fieldset>

    <fieldset class="fieldNuevo">
        <label for="description"><input type="text" name="description" class="cajaNuevo" placeholder="Descripción" required  >
        <span>Breve descripción</span>
        </label>
        
    </fieldset>

    <fieldset id="imageInput">
        <legend>Escoja una imagen</legend>
        <label for="createImage"><input type="file" name="createImage" accept=".jpg, .png" required ></label>
    </fieldset>

    <fieldset class="fieldNuevo">
        <legend>Precio</legend>
        <label for="price"><input type="number" name="price" class="cajaNuevo" placeholder="Precio" >
        <span>Precio</span>
        </label>
        
    </fieldset>

                <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">Aceptar</button>
                    <button type="reset" class="reset">Cancelar</button> 
                </fieldset>

</form>

            <!-- </form> -->
        </section>


    </main>

    

    <%- include ('../modules/footer') %>
    
    </body>
    </html>