<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

    <main>

        <section id="createProduct">

        <h2 class="titulos">Nueva película</h2>
        
        
    
    <form action="/products/create" id="creationForm" method="post" class="formTest" name="Movie" enctype="multipart/form-data">

    <fieldset class="fieldNuevo">
        <label for="name"><input type="text" name="name" class="cajaNuevo" placeholder="Nombre" required  >
        <span>Nombre</span>
        </label>
        
    </fieldset>
    
    <fieldset class="fieldNuevo">
        <label for="productLink"><input type="text" name="productLink" class="cajaNuevo" placeholder="Link a trailer" required  >
        <span>Link del trailer</span>
        </label>
        
    </fieldset>


    <fieldset class="fieldNuevo">
        <label for="description"><input type="text" name="description" class="cajaNuevo" placeholder="Descripción" required  >
        <span>Breve descripción</span>
        </label>
        
    </fieldset>

    <fieldset id="category_id">
        <legend>Categoría</legend>
        <input class="hidden radio-label" id="radioUno" type="radio" name="category_id" value="1">
        <label class="button-label" for="radioUno">Clásica</label>
        <input class="hidden radio-label" id="radioDos" type="radio" name="category_id" value="2">
        <label class="button-label" for="radioDos">Moderna</label>
        <input class="hidden radio-label" id="radioTres" type="radio" name="category_id" value="3">
        <label class="button-label" for="radioTres">Estreno</label>
    </fieldset>

    <fieldset id="restriction_id">
        <legend>Restricciones de edad</legend>
        <input class="hidden radio-label" id="ageATP" type="radio" name="restriction_id" value="1">
        <label class="button-label" for="ageATP">ATP</label>
        <input class="hidden radio-label" id="ageThirteen" type="radio" name="restriction_id" value="2">
        <label class="button-label" for="ageThirteen">+13</label>
        <input class="hidden radio-label" id="ageSixteen" type="radio" name="restriction_id" value="3">
        <label class="button-label" for="ageSixteen">+16</label>
        <input class="hidden radio-label" id="ageEighteen" type="radio" name="restriction_id" value="4">
        <label class="button-label" for="ageEighteen">+18</label> 
        <input class="hidden radio-label" id="conditioned" type="radio" name="restriction_id" value="5">
        <label class="button-label" for="conditioned">Condicionada</label> 
    </fieldset>

    <fieldset id="imageInput">
        <legend>Escoja una imagen</legend>
        <label for="createImage"><input type="file" name="createImage" accept=".jpg, .png" required ></label>
    </fieldset>

    <select name="genre_id" id="genre_id" class="selectGenre">
        <option selected value="0"> Elija un género </option>
            <option value="1">Drama</option> 
            <option value="2">Comedia</option>
            <option value="3">Fantasía</option>
            <option value="4">Animación</option>
            <option value="5">Histórica</option>
            <option value="6">Superhéroes</option>
            <option value="7">Ciencia ficción</option>
            <option value="8">No ficción</option>
            <option value="9">Musical</option>
            <option value="10">Aventura</option> 
    </select>

               <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">Aceptar</button>
                    <button type="reset" class="reset">Cancelar</button> 
                </fieldset>

</form>


            <!-- </form> -->
        </section>


    </main>

    

    <%- include ('../modules/footer') %>
    
    </body>
    </html>