<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

    <main>
        <section id="createProduct">

        <h2 class="titulos">Nuevo producto</h2>
        <form action="/products/" id="creationForm" enctype="multipart/form-data" method="post">
            <fieldset class="fieldNuevo">
                <select name="productType" id="productType" class="selectOption">
                    <option selected value="0"> Elija un artículo </option>
                        <option value="Película">Película</option> 
                        <option value="Combo">Combo</option> 
                        <option value="Bebida">Bebida</option> 
                        <option value="Alimento">Alimento</option>
                        <option value="Pase">Pase</option>
                </select>
            </fieldset>
            
            <fieldset class="fieldNuevo">
                <label for="productName"><input type="text" name="productName" class="cajaNuevo" placeholder="Nombre" required  >
                <span>Nombre</span>
                </label>
                
            </fieldset>
            
            <fieldset class="fieldNuevo">
                <label for="productLink"><input type="text" name="productLink" class="cajaNuevo" placeholder="Link a trailer" >
                <span>Link del trailer</span>
                </label>
                
            </fieldset>


            <fieldset class="fieldNuevo">
                <label for="productDescription"><input type="text" name="productDescription" class="cajaNuevo" placeholder="Descripción" required  >
                <span>Breve descripción</span>
                </label>
                
            </fieldset>

            <fieldset id="filmCategory">
                <legend>Categoría</legend>
                <input class="hidden radio-label" id="radioUno" type="radio" name="filmCategory" value="Clásica">
                <label class="button-label" for="radioUno">Clásica</label>
                <input class="hidden radio-label" id="radioDos" type="radio" name="filmCategory" value="Moderna">
                <label class="button-label" for="radioDos">Moderna</label>
                <input class="hidden radio-label" id="radioTres" type="radio" name="filmCategory" value="Estreno">
                <label class="button-label" for="radioTres">Estreno</label>
                <input class="hidden radio-label" id="radioCuatro" type="radio" name="filmCategory" value="No Aplica">
                <label class="button-label" for="radioCuatro">No aplica</label> 
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Género</legend>
                    <label class="labelCheck" for="comedia" name="filmGenre"><input type="checkbox"  id="comedia" name="filmGenre"  value="comedia"> Comedia</label>  
                    <label class="labelCheck" for="drama" name="filmGenre"><input type="checkbox"  id="drama" name="filmGenre"  value="drama"> Drama</label>
                    <label class="labelCheck" for="fantasia" name="filmGenre"><input type="checkbox"  id="fantasia" name="filmGenre"  value="fantasia"> Fantasía</label>
                    <label class="labelCheck" for="superscifi" name="filmGenre"><input type="checkbox"  id="superscifi" name="filmGenre"  value="superscifi"> Ciencia ficción y superhéroes</label>
                    <label class="labelCheck" for="infantil" name="filmGenre"><input type="checkbox"  id="infantil" name="filmGenre"  value="infantil"> Infantil</label>
                    <label class="labelCheck" for="historia" name="filmGenre"><input type="checkbox"  id="historia" name="filmGenre"  value="historia"> Historia</label>    
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Salas</legend>
                    <label class="labelCheck" for="salaMelies" name="salasCine"><input type="checkbox"  id="salaMelies" name="salasCine"  value="salaMelies"> Sala Melies</label>  
                    <label class="labelCheck" for="salaKurosawa" name="salasCine"><input type="checkbox"  id="salaKurosawa" name="salasCine"  value="salaKurosawa"> Sala Kurosawa</label> 
                    <label class="labelCheck" for="salaGodard" name="salasCine"><input type="checkbox"  id="salaGodard" name="salasCine"  value="salaGodard"> Sala Godard</label> 
                    <label class="labelCheck" for="salaSpielberg" name="salasCine"><input type="checkbox"  id="salaSpielberg" name="salasCine"  value="salaSpielberg"> Sala Spielberg</label>    
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Días en cartel</legend>
                    <label class="labelCheck" for="Lunes" name="diasCartel"><input type="checkbox"  id="Lunes" name="diasCartel"  value="Lunes"> Lunes</label>  
                    <label class="labelCheck" for="Martes" name="diasCartel"><input type="checkbox"  id="Martes" name="diasCartel"  value="Martes"> Martes</label> 
                    <label class="labelCheck" for="Miércoles" name="diasCartel"><input type="checkbox"  id="Miércoles" name="diasCartel"  value="Miércoles"> Miércoles</label> 
                    <label class="labelCheck" for="Jueves" name="diasCartel"><input type="checkbox"  id="Jueves" name="diasCartel"  value="Jueves"> Jueves</label> 
                    <label class="labelCheck" for="Viernes" name="diasCartel"><input type="checkbox"  id="Viernes" name="diasCartel"  value="Viernes"> Viernes</label> 
                    <label class="labelCheck" for="Sábado" name="diasCartel"><input type="checkbox"  id="Sábado" name="diasCartel"  value="Sábado"> Sábado</label> 
                    <label class="labelCheck" for="Domingo" name="diasCartel"><input type="checkbox"  id="Domingo" name="diasCartel"  value="Domingo"> Domingo</label> 
            </fieldset>

            <fieldset class="fieldNuevo">
                <legend>Horarios disponibles</legend>
                <label for="timeScheduled"><input type="text" name="timeScheduled" class="cajaNuevo" placeholder="Horarios separados por comas" >
                <span>Horarios (en formato 24 horas / separe por comas)</span>
                </label>
                
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Formato</legend>
                    <label class="labelCheck" for="dosDe" name="filmFormat"><input type="checkbox"  id="dosDe" name="filmFormat"  value="2D"> 2D</label>  
                    <label class="labelCheck" for="tresDe" name="filmFormat"><input type="checkbox"  id="tresDe" name="filmFormat"  value="3D"> 3D</label> 
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Audio</legend>
                    <label class="labelCheck" for="subtitulado" name="filmAudio"><input type="checkbox"  id="subtitulado" name="filmAudio"  value="subtitulado"> VOSE</label>  
                    <label class="labelCheck" for="doblado" name="filmAudio"><input type="checkbox"  id="doblado" name="filmAudio"  value="subtitulado"> Doblado al español</label> 
            </fieldset>

            <fieldset id="ageRestrictions">
                <legend>Restricciones de edad</legend>
                <input class="hidden radio-label" id="ageATP" type="radio" name="ageRestriction" value="todoPublico">
                <label class="button-label" for="ageATP">ATP</label>
                <input class="hidden radio-label" id="ageThirteen" type="radio" name="ageRestriction" value="overThirteen">
                <label class="button-label" for="ageThirteen">+13</label>
                <input class="hidden radio-label" id="ageSixteen" type="radio" name="ageRestriction" value="overSixteen">
                <label class="button-label" for="ageSixteen">+16</label>
                <input class="hidden radio-label" id="ageEighteen" type="radio" name="ageRestriction" value="overEighteen">
                <label class="button-label" for="ageEighteen">+18</label> 
            </fieldset>

            <fieldset id="imageInput">
                <legend>Escoja una imagen</legend>
                <label for="createImage"><input type="file" name="createImage" accept=".jpg, .png" required >
                    <!-- accept=".jpg, .png" required -->
                </label>
            </fieldset>

            <fieldset class="fieldNuevo">
                <legend>Precio (sólo si no es película)</legend>
                <label for="priceInput"><input type="number" name="priceInput" class="cajaNuevo" value="0" placeholder="Precio" >
                <span>Precio</span>
                </label>
                
            </fieldset>

                        <fieldset class="botonNuevo">
                            <button type="submit" class="enviar">Aceptar</button>
                            <button type="reset" class="reset">Cancelar</button> 
                        </fieldset>

        </form>




                


            <!-- </form> -->
        </section>
    </main>


    <%- include ('../modules/footer') %>
    
    </body>
    </html>