<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>
<section>
    <article id=background-indemnity>
        <picture >
            <img src="img/background-indemnity.jpg">
        </picture>
    </article>


    
        <!-- detalle Película double-indemnity-->
<section class="container-peli">
    <article> <h2> DOUBLE INDEMNITY </h2> 
    <p id="stars"> 
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star star-color"></i>
    </p></article>
    <article>
        <iframe  src="https://www.youtube.com/embed/yKrrAa2o9Eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
    <article>
        <figure  class="images">
            <img src="img/double-indemnity.jpg">
        </figure>
    </article>

<section class="descripciones" >
<article id="sinopsis"> 
    <h3> SINOPSIS </h3>
    <p> Un vendedor de seguros de Los Ángeles 
        se deja seducir por un ama de casa 
        para participar en un plan de fraude 
        y asesinato que despierta las sospechas 
        de su colega, un investigador. </p>
</article>
</section>
<section >
<article id="comment-movie">
<p>"¡La tremenda historia de Paramount sobre un amor impío y un crimen casi perfecto!"</p>
</article>
</section>


<section id="form-movie">
    <article> <h4> ELEGIR PELÍCULA POR: </h4></article>
<form action="/"  method="post">
<fieldset class="movie-info"> 
    <section class="movie-button">
    <button type="button"> CLASIC </button>
    <button type="button"> 2D </button>
    <button type="button"> 3D </button>
    </section>
</fieldset>

<fieldset class="movie-info"> 
    <section class="movie-button">
    <button type="button"> Subtitulada </button>
    <button type="button"> Español </button>
    
    </section>
</fieldset>

<fieldset class="movie-info movie-button">
        <button type="button"> Domingo </button>
</fieldset>
<fieldset class="movie-info">
    <h4> CineMelies </h4>
    <section class="movie-button"> 
    <p> <small >  Classic • 2D • Español  </small> </p>
    <button type="button"> 14:00 </button>
    <p> <small>  Classic • 2D • Subtitulada  </small> </p>
    <button type="button"> 20:00 </button>
    </section>
    
</fieldset>
<fieldset id="button-compra">
        <input type="submit" value="COMPRAR" />   
</fieldset>
</form>
</section>
</section>
</section> 

</main>

<%- include ('../modules/footer') %>

</body>
</html>