<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agenda</title> 
        
        <!--prueba
        
        <script>
            var message = "Hey, volvé!";
            var original = "Mercado Liebre";
            
            window.onblur = function () { document.title = message; }
            window.onfocus = function () { document.title = original; }
        </script>
        
        <link rel="icon" type="image/png" href="\images\mercado-libre.png">
        -->
    
        <!--CSS-->
        <link rel="stylesheet" href="/css/agenda.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
    
        <!--Librerías-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    
    </head>
    
    <body>
    
        <header class = "header_superior">
            <nav class ="main_nav">
                <picture>
                    <a href="http://localhost:3001"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
                </picture>
        
                <dl class="nav01">
                    <dt class="item"><a class="option" href="/agenda">Agenda</a></dt>
                    <dt class="item"><a class="option" href="/precios">Precios</a></dt>
                    <dt class="item"><a class="option" href="/combos">Combos</a></dt>
                    <dt class="item"><a class="option" href="/nosotros">Nosotros</a></dt>
                </dl>
                <form class="search" action="/" method="get">
                    <fieldset>
                        <input type="search" placeholder="Buscar" name="search" />
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </fieldset>
                </form>
                <section id="nav02">
                    <a href="/login"><i class="fas fa-user iconNav"></i></a>
                    <a href="/carrito"><i class="fas fa-shopping-cart iconNav"></i></a>
                    <a href="/menu"><i class="fas fa-bars"></i></a>
                </section>
            </nav>
        
            
            
        </header>
    
        <main>
            
            <section id="agendaMain">
                <h2 class="titulos">Agenda</h2>
                <section>
                    <select name="mesAgenda" id="selectMesAgenda">
                            <option selected value="0"> Elija un mes </option>
                            <option value="1">Enero 2021</option> 
                            <option value="2">Febrero 2021</option> 
                            <option value="3">Marzo 2021</option> 
                            <option value="4">Abril 2021</option> 
                            <option value="5">Mayo 2021</option> 
                            <option value="6">Junio 2021</option> 
                            <option value="7">Julio 2021</option> 
                            <option value="8">Agosto 2021</option>
                            <option value="9">Septiembre 2021</option>
                            <option value="10">Octubre 2021</option>
                            <option value="11">Noviembre 2021</option>
                            <option value="12">Diciembre 2021</option>
                    </select>
                </section>

                <section id="cicloDeCineEnero">
                    <h3 class="tituloCiclo">CICLO DE CINE RUSO</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/01-cineruso.jpg" alt="" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            El cine de Rusia ha tenido distintas etapas en la historia rusa, desde los orígenes importando los Zares la novedad desde Francia, pasando por el emblemático cine soviético y llegando al moderno cine de la actual Federación Rusa. 
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Pasaron las grullas <a href="https://www.imdb.com/title/tt0050634/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El hombre de la cámara <a href="https://www.imdb.com/title/tt0019760/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Moscú no cree en lágrimas <a href="https://www.imdb.com/title/tt0079579/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El acorazado Potemkin <a href="https://www.imdb.com/title/tt0015648/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="/img/01-cranes.jpg" alt="Pasaron las grullas" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/01-man camera.jpg" alt="El hombre de la cámara" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/01-moscow tears.jpg" alt="Moscú no cree en lágrimas" srcset="">
                        </picture>  

                        <picture>
                            <img src="/img/01-potemkin.jpg" alt="El acorazado Potemkin" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineFebrero">
                    <h3 class="tituloCiclo">CICLO DE CINE JAPONES</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/01-cineruso.jpg" alt="" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            El cine de Rusia ha tenido distintas etapas en la historia rusa, desde los orígenes importando los Zares la novedad desde Francia, pasando por el emblemático cine soviético y llegando al moderno cine de la actual Federación Rusa. 
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Pasaron las grullas <a href="https://www.imdb.com/title/tt0050634/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El hombre de la cámara <a href="https://www.imdb.com/title/tt0019760/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Moscú no cree en lágrimas <a href="https://www.imdb.com/title/tt0079579/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El acorazado Potemkin <a href="https://www.imdb.com/title/tt0015648/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="/img/01-cranes.jpg" alt="Pasaron las grullas" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/01-man camera.jpg" alt="El hombre de la cámara" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/01-moscow tears.jpg" alt="Moscú no cree en lágrimas" srcset="">
                        </picture>  

                        <picture>
                            <img src="/img/01-potemkin.jpg" alt="El acorazado Potemkin" srcset="">
                        </picture>

                    </section>

                </section>


            

            </section>
        
        
        </main>

        <footer id="footer">

            <picture>
                <img src="/img/LOGOVFINAL.png" alt="" id="logoFooter">
            </picture>
        
            <section id="footerDatos">
                <h3>Contactanos</h3>
                <article id="domicilio">
                    <i class="fas fa-map-marker-alt iconFooter"></i>
                    <p>Av. Corrientes 2341, CABA</p>
                </article>
                    
                <article id="telefono">
                    <i class="fas fa-phone-alt iconFooter"></i>
                    <p>(011) 4444-6666</p>
                </article>
            
            </section>
        
            
    <section id="footerRedes">
        <h3>Seguinos en redes</h3>
    <ul id="cajaRedes">
        <li class="cajaIconos">
          <a class="facebook" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="twitter" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="instagram" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
    </ul>
    </section>

    <section id="footerNews">
        <h3>Unite al newsletter</h3>
        <fieldset class="fieldNuevo">
        <label for="newsEmail"><input type="email" name="newsEmail" class="cajaNuevo" placeholder="Ingresá tu email"  >
        <span>Ingresá tu e-mail</span>
        </label> 
        </fieldset>
    </section>
        
        </footer>
</body>
</html>