<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine Melies</title> 
    
    <!--prueba
    
    <script>
        var message = "Hey, volvé!";
        var original = "Mercado Liebre";
        
        window.onblur = function () { document.title = message; }
        window.onfocus = function () { document.title = original; }
    </script>
    
    <link rel="icon" type="image/png" href="\images\mercado-libre.png">
    -->

    <!--CSS-->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!--Librerías-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

</head>

<body>

    <header class = "header_superior">
        <nav class ="main_nav">
            <picture>
                <a href="http://localhost:3001"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
            </picture>
    
            <dl class="nav01">
                <dt class="item"><a class="option" href="#">Agenda</a></dt>
                <dt class="item"><a class="option" href="#">Precios</a></dt>
                <dt class="item"><a class="option" href="#">Combos</a></dt>
                <dt class="item"><a class="option" href="#">Nosotros</a></dt>
            </dl>
            <form class="search" action="/" method="get">
                <fieldset>
                    <input type="search" placeholder="Buscar" name="search" />
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                </fieldset>
            </form>
            <section id="nav02">
                <i class="fas fa-user iconNav"></i>
                <i class="fas fa-shopping-cart iconNav"></i>
                <a href="#"><i class="fas fa-bars"></i></a>
            </section>
        </nav>
    
        
        
    </header>

<div id="slider_container">
    <ul class="slider">
        <li id="slide1"><img src="/img/1.png" alt=""></li>
    
        <li id="slide2"> <img src="/img/2.png" alt="">    </li>

        <li id="slide3"> <img src="/img/3.png" alt="">    </li>
        <li id="slide4"> <img src="/img/4.png" alt="">    </li>
        <li id="slide5"> <img src="/img/7.png" alt="">    </li>

    </ul>

    <ul class="menu">
        <li><a href="#slide1"></a></li>
        <li><a href="#slide2"></a></li>
        <li><a href="#slide3"></a></li>
        <li><a href="#slide4"></a></li>
        <li><a href="#slide5"></a></li>
    </ul>

</div>
<!--Sección MAIN-->
<main>
    <!-- Sección titulo -->
    <article>
    <h2 class="titulos"> CLÁSICA | <span> MODERNA </span></h2>
    </article>
<!-- contenedor de las películas-->
<section id="main-posters">
    <!-- Sección info -->
    <section id="info-dune">
    <article>
    <h3> DUNE</h3>
    <p> (2021) </p>
    <p>8,2</p>
    <p>2h 35min</p>
    <p>LU | MIE 19 HS</p>
    <P>COMPRAR</P>
    </article>
    </section>
     <!-- Sección detalle de pelicula Dune -->
    <section>
    <article id="detalle-dune">
    <h2 class="Titulos">DUNE (2021) </h2>
    <P> DURACIÓN: 2hs 35min</P>
    <p> SINÓPSIS: Adaptación de la novela de ciencia ficción de Frank Herbert sobre el hijo de una familia noble
     que trata de vengarse de la muerte de su padre y al mismo tiempo salvar un planeta que se le ha 
     encomendado proteger.Adaptación de la novela de ciencia ficción de Frank Herbert sobre el hijo de 
     una familia noble que trata de vengarse de la muerte de su padre y al mismo tiempo salvar un planeta 
     que se le ha encomendado proteger. </p>
     <p>FUNCIONES: Lunes Y Miércoles 19 hs |  </p> <button> comprar </button>
    </article>
    <!-- Sección Película 1 -->
    <article>
    <figure class="images">
    <img src="img/dune.jpg">
    </figure>
    </article> 
    </section> 
     <!-- Sección Película 2 -->
     <article>
    <figure  class="images"> 
    <img src="img/maligno.jpg">
    </figure>
    </article>
     <!-- Sección Película 3 -->
     <article>
    <figure  class="images">
    <img src="img/Eternals.jpg">
    </figure>
    </article>
    <!-- Sección Película 4 -->
    <article>
    <figure  class="images">
    <img src="img/matrix.jpg">
    </figure> 
    </article>
</section>
    
</main>

<footer id="footer">

    <picture>
        <img src="/img/LOGOVFINAL.png" alt="" id="logoFooter">
    </picture>

    <section id="footerDatos">
        <h3>Contactanos</h3>
        <article id="domicilio">
            <i class="fas fa-map-marker-alt iconFooter"></i>
            <p>Av. Corrientes 2341, CABA</p>
        </article>
            
        <article id="telefono">
            <i class="fas fa-phone-alt iconFooter"></i>
            <p>(011) 4444-6666</p>
        </article>
    
    </section>

    <section id="footerRedes">
        <h3>Seguinos en redes</h3>
        <i class="fab fa-instagram iconFooter"></i>
        <i class="fab fa-twitter iconFooter"></i>
        <i class="fab fa-facebook iconFooter"></i>
    </section>

    <section id="footerNews">
        <h3>Unite al newsletter</h3>


    </section>

</footer>

</body>
</html>
