<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>

<main>
    <article>   Iniciar Sesión   </article>
    <figure>
        <img src="cinefilo.png" alt="">
    </figure>
<section class="main-form"> 
    <form action="/"  method="post" class="fr">
    <fieldset>
        <legend class="dn"> Usuario </legend>
        <label for="Usuario" class="dn"> Usuario</label>
        <input type="text" name="Usuario" id="Usuario" placeholder=" Usuario"  required >
    </fieldset>

    <fieldset>
        <legend class="dn"> Contraseña </legend>
        <label for="clave" class="dn"> Contraseña  </label>
        <input type="password" name="confirm" id="confirm"placeholder="Escribí tu contraseña"required >
    </fieldset>

    <fieldset>
        <legend class="dn"> Botones del Formulario </legend>
        <button type="submit"> Ingresar </button>   
    </fieldset>
    </form>
</section>
<article><h3> ¿ No ténes Usuario ? ¡Registrate!</h3> </article>

</main>
</body>
</html>