<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Detalle Pelicula </title> 
    
    <!--prueba
    
    <script>
        var message = "Hey, volvé!";
        var original = "Mercado Liebre";
        
        window.onblur = function () { document.title = message; }
        window.onfocus = function () { document.title = original; }
    </script>
    
    <link rel="icon" type="image/png" href="\images\mercado-libre.png">
    -->

    <!--CSS-->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">

    <!--Librerías-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

</head>

<body>

    <header class = "header_superior">
        <nav class ="main_nav">
            <picture>
                <a href="/"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
            </picture>
    
            <dl class="nav01">
                <dt class="item"><a class="option" href="/agenda">Agenda</a></dt>
                <dt class="item"><a class="option" href="/precios">Precios</a></dt>
                <dt class="item"><a class="option" href="/combos">Combos</a></dt>
                <dt class="item"><a class="option" href="/nosotros">Nosotros</a></dt>
            </dl>
            <form class="search" action="/" method="get">
                <fieldset>
                    <input type="search" placeholder="Buscar" name="search" />
                    <button  .class="buscador">
                        <i class="fas fa-search"></i>
                    </button>
                </fieldset>
            </form>
            <section id="nav02">
                <a href="/login"><i class="fas fa-user iconNav"></i></a>
                <a href="/carrito"><i class="fas fa-shopping-cart iconNav"></i></a>
                <a href="/menu"><i class="fas fa-bars"></i></a>
            </section>
        </nav>     
    </header>

<!--Sección MAIN-->
<main>
<section>
    <article id=background-indemnity>
        <picture >
            <img src="img/background-indemnity.jpg">
        </picture>
    </article>

    <article>
        <iframe  src="https://www.youtube.com/embed/yKrrAa2o9Eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
        <!-- detalle Película double-indemnity-->
<section class="container-peli">
    <article>
        <figure  class="images ">
            <img src="img/double-indemnity.jpg">
        </figure>
    </article>

<section class="descripciones" >
<article id="sinopsis"> 
    <h4> Sinopsis </h4>
    <p> Un vendedor de seguros de Los Ángeles 
        se deja seducir por un ama de casa 
        para participar en un plan de fraude 
        y asesinato que despierta las sospechas 
        de su colega, un investigador. </p>
</article>
</section>

<section>
<article> 
    <h4> ELEGIR PELÍCULA POR: </h4>
    <section id="movie-view">
    <button type="button"> CLASIC </button>
    <button type="button"> 2D </button>
    <button type="button"> 3D </button>
   
    </section>
</article>

<section> 
    <article id="movie-idioma">
    <button type="button"> Subtitulada </button>
    <button type="button"> Español </button>
    
    </article>
</section>

<article >
        <button type="button"> Domingo </button>
        
</article>
<article>
    <h4> CineMelies </h4>
    <section class="select-melies "> 
    <small >  Classic • 2D • Español  </small>
    <button type="button"> 14:00 </button>
    <small>  Classic • 2D • Subtitulada  </small>
    <button type="button"> 20:00 </button>
    </section>
</article>
<article>
    <form method="get" action="">
        <input type="submit" value="COMPRAR" />
    </form>
</article>
</section>
</section>
</section> 

</main>

<footer id="footer">

    <picture>
        <img src="/img/LOGOVFINAL.png" alt="" id="logoFooter">
    </picture>

    <section id="footerDatos">
        <h3>Contactanos</h3>
        <article id="domicilio">
            <i class="fas fa-map-marker-alt iconFooter"></i>
            <p>Av. Corrientes 2341, CABA</p>
        </article>
            
        <article id="telefono">
            <i class="fas fa-phone-alt iconFooter"></i>
            <p>(011) 4444-6666</p>
        </article>
    
    </section>

    <!-- <section id="footerRedes">
        <h3>Seguinos en redes</h3>
        <i class="fab fa-instagram iconFooter"></i>
        <i class="fab fa-twitter iconFooter"></i>
        <i class="fab fa-facebook iconFooter"></i>
    </section> -->

    <section id="footerRedes">
        <h3>Seguinos en redes</h3>
    <ul id="cajaRedes">
        <li class="cajaIconos">
          <a class="facebook" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="twitter" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="instagram" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
    </ul>
    </section>

    <section id="footerNews">
        <h3>Unite al newsletter</h3>
        <fieldset class="fieldNuevo">
        <label for="newsEmail"><input type="email" name="newsEmail" class="cajaNuevo" placeholder="Ingresá tu email"  >
        <span>Ingresá tu e-mail</span>
        </label> 
        </fieldset>
    </section>

</footer>

</body>
</html>