<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Detalle Pelicula </title> 
    
    <!--prueba
    
    <script>
        var message = "Hey, volvé!";
        var original = "Mercado Liebre";
        
        window.onblur = function () { document.title = message; }
        window.onfocus = function () { document.title = original; }
    </script>
    
    <link rel="icon" type="image/png" href="\images\mercado-libre.png">
    -->

    <!--CSS-->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/productDetail.css">

    <!--Librerías-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

</head>

<body>

    <header class = "header_superior">
        <nav class ="main_nav">
            <picture>
                <a href="http://localhost:3001"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
            </picture>
    
            <dl class="nav01">
                <dt class="item"><a class="option" href="/agenda">Agenda</a></dt>
                <dt class="item"><a class="option" href="/precios">Precios</a></dt>
                <dt class="item"><a class="option" href="/combos">Combos</a></dt>
                <dt class="item"><a class="option" href="/nosotros">Nosotros</a></dt>
            </dl>
            <form class="search" action="/" method="get">
                <fieldset>
                    <input type="search" placeholder="Buscar" name="search" />
                    <button  .class="buscador">
                        <i class="fas fa-search"></i>
                    </button>
                </fieldset>
            </form>
            <section id="nav02">
                <a href="/login"><i class="fas fa-user iconNav"></i></a>
                <a href="/carrito"><i class="fas fa-shopping-cart iconNav"></i></a>
                <a href="/menu"><i class="fas fa-bars"></i></a>
            </section>
        </nav>     
    </header>

<!--Sección MAIN-->
<main>

<section>  
    <!-- detalle Película 1 dune -->
    <article class="container-detalle" >
        <figure class="images">
        <img src="img/dune.jpg">
        </figure>
        <section class=" descripciones" >
            <p> DUNE (2021) </p>
            <p> Duración: 2h 35m </p>
            <p> Sinopsis: <span>   Adaptación de la novela de ciencia ficción de Frank Herbert sobre el hijo de una familia noble que trata de vengarse de la muerte de su padre y al mismo tiempo salvar un planeta que se le ha encomendado proteger. </span> </p>
            <p> Funciones:<span>  LU y MIER 14HS </span> </p>
            <section>
                <form method="get" action="/">
                    <input type="submit" value="COMPRAR" />
                </form>
            </section>
        </section>
    </article> 
</section>

<section>  
    <!-- detalle Película 2 Maligno -->
    <article class="container-detalle" >
        <figure  class="images"> 
        <img src="img/maligno.jpg">
        </figure>
        <section class=" descripciones" >
            <p> MALIGNO (2021) </p>  
            <p> Duración: 1h 51m </p> 
            <p> Sinopsis: Madison está paralizada por causa de visiones impactantes de asesinatos espeluznantes. Su tormento empeora cuando descubre que estos sueños de vigilia son, de hecho, realidades aterradoras. </p>
            <p> Funciones: MAR y JUE 20HS </p>
            </section>
            <section>
                <form method="get" action="/">
                    <input type="submit" value="COMPRAR" />
                </form>
            </section>
    </article>
</section>

<section>  
    <!-- detalle Película eternals-->
    <article class="container-detalle">
        <figure  class="images">
        <img src="img/Eternals.jpg">
        </figure>
        <section class=" descripciones" >
            <p> ETERNALS (2021) </p>
            <p>Duración: 2h 36m </p>
            <p>Sinopsis: Hace millones de años, los seres cósmicos conocidos como los Celestiales decidieron experimentar genéticamente con los humanos, y moldearon nuestra historia y civilizaciones.</p>
            <p> Funciones: SAB 14HS y 20HS </p>
            </section>
            <section>
                <form method="get" action="/">
                    <input type="submit" value="COMPRAR" />
                </form>
            </section>
    </article>
</section>  


<section>  
    <!-- detalle Película matrix-->
    <article class="container-detalle" >
        <figure class="images">
        <img src="img/matrix.jpg">
        </figure> 
        <section class=" descripciones" >
            <p> MATRIX RESURRECTIONS  (2021) </p>
            <p> Duración: 2h 28m </p>
            <p> Sinopsis: Cuarta entrega de la franquicia "Matrix" en la que Neo y Trinity se embarcarán en una nueva misión.</p>
            <p> Funciones: VIER 20HS </p>
            </section>
            <section>
                <form method="get" action="/">
                    <input type="submit" value="COMPRAR" />
                </form>
            </section>
    </article>
</section>



<section>  
    <!-- detalle Película the-big-heat-->
    <article class="container-detalle">
            <figure  class="images">
            <img src="img/the-big-heat.jpg"> 
            </figure>
            <section class=" descripciones" >
            <p> THE BIG HEAT (1953) </p>
            <p> Duración:  1h 29m </p>
            <p> Sinopsis:  El policía Dave Bannion se enfrenta a una organización criminal con ramificaciones políticas. </p>
            <p> Funciones: MAR y JUE 14HS</p>
            </section>
            <section>
                <form method="get" action="/">
                    <input type="submit" value="COMPRAR" />
                </form>
            </section>
        </article>
</section>  



<section>  
    <!-- detalle Película phantom-lady-->
    <article class="container-detalle">
        <figure  class="images ">
        <img src="img/phantom-lady.jpg">
        </figure>
        <section class=" descripciones" >
            <p> PHANTOM LADY (1944)  </p>
            <p> Duración: 1h 27m </p>
            <p> Sinopsis: Una devota secretaria arriesga su vida intentando encontrar a la elusiva mujer que podría probar que su jefe no mató a su mujer. </p>
            <p> Funciones: LU y MIER 20HS </p>
            </section>
            <section>
                <form method="get" action="/">
                    <input type="submit" value="COMPRAR" />
                </form>
            </section>
    </article>

</section>  



<section>  
    <!-- detalle Película the-big-combo-->
    <article class="container-detalle" >
            <figure  class="images ">
            <img src="img/the-big-combo.jpg">
            </figure> 
            <section class=" descripciones" >
                <p> THE BIG COMBO (1955)  </p>
                <p> Duración: 1h 27m </p>
                <p> Sinopsis: A un teniente se le ordena que deje de investigar al jefe del crimen mortal, el Sr. Brown, porque no ha podido obtener ninguna evidencia sólida en su contra. </p>
                <p> Funciones: LU y MIER 11HS </p>
                </section>
                <section>
                    <form method="get" action="/">
                        <input type="submit" value="COMPRAR" />
                    </form>
                </section> 
    </article>
<section>  



    <section>  
        <!-- detalle Película double-indemnit-->
        <article class="container-detalle" >
        <figure  class="images ">
        <img src="img/double-indemnity.jpg">
        </figure> 
        <section class=" descripciones" >
            <p> DOUBLE INDEMNITY (1944) </p>
            <p> Duración: 1h 47m  </p>
            <p> Sinopsis: Un vendedor de seguros de Los Ángeles se deja seducir por un ama de casa para participar en un plan de fraude y asesinato que despierta las sospechas de su colega, un investigador. </p>
            <p> Funciones:  DOMING0 14HS y 20HS </p>
            </section>
            <section>
                <form method="get" action="/">
                    <input type="submit" value="COMPRAR" />
                </form>
            </section>
    </article> 
    </section> 
</main>

<footer id="footer">

    <picture>
        <img src="/img/LOGOVFINAL.png" alt="" id="logoFooter">
    </picture>

    <section id="footerDatos">
        <h3>Contactanos</h3>
        <article id="domicilio">
            <i class="fas fa-map-marker-alt iconFooter"></i>
            <p>Av. Corrientes 2341, CABA</p>
        </article>
            
        <article id="telefono">
            <i class="fas fa-phone-alt iconFooter"></i>
            <p>(011) 4444-6666</p>
        </article>
    
    </section>

    <!-- <section id="footerRedes">
        <h3>Seguinos en redes</h3>
        <i class="fab fa-instagram iconFooter"></i>
        <i class="fab fa-twitter iconFooter"></i>
        <i class="fab fa-facebook iconFooter"></i>
    </section> -->

    <section id="footerRedes">
        <h3>Seguinos en redes</h3>
    <ul id="cajaRedes">
        <li class="cajaIconos">
          <a class="facebook" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="twitter" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="instagram" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
    </ul>
    </section>

    <section id="footerNews">
        <h3>Unite al newsletter</h3>
        <fieldset class="fieldNuevo">
        <label for="newsEmail"><input type="email" name="newsEmail" class="cajaNuevo" placeholder="Ingresá tu email"  >
        <span>Ingresá tu e-mail</span>
        </label> 
        </fieldset>
    </section>

</footer>

</body>
</html>