/*Código Colores
#0D1026 negro azulado
#F2B035 naranja claro
#F29E38 naranja oscuro
#EDEEF2 gris
#262626 casi negro

font-family: 'Alegreya Sans', sans-serif; ----> textos
font-family: 'Fira Sans', sans-serif; ----> botones, menú etc
*/


* {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
    
  }

  main,html{
    background-color: rgb(242, 158, 56);
    
}

html, body {
    height: 100%;
  }

#selectorAgenda{
    margin:0 auto;
    width:80%;
}

#centeredTitle{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  /* margin: 0 auto 15px;
  max-width: 1000px; */
  font: 300 41.6666666667px 'Fira Sans', sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-weight: bold;
  color:#EDEEF2;
  /* top: -87px;
  position: relative; */

}

#background{
  height: 50vh;
  width:100vw;
  position: relative;
  text-align: center;
  
  overflow: hidden
}



#background img{
  height:100vh;
  filter: brightness(50%);
  margin-top: -20%;
  margin-left:-40%
}

#agendaMain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: justify;
    padding: 1.5em;
    background-color: #EDEEF2 ;
    margin: 2em; 
    font-family: 'Alegreya Sans', sans-serif; 
}

#selectMesAgenda{
    border:none;
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    padding: 1em;
    /* margin-left: 15px; */
    border-radius: 0.25em;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
}

.titulos{
    font-family: 'Alegreya Sans', sans-serif; 
    outline:none;
    border:none;
    margin-bottom: 2em;
    font-weight: bold;
    font-size:18px;
}

.tituloCiclo{
    padding-bottom:1em;
    text-align: center;
}

#cicloDeCineEnero,#cicloDeCineFebrero,#cicloDeCineMarzo,#cicloDeCineAbril,#cicloDeCineMayo,#cicloDeCineJunio,#cicloDeCineJulio,#cicloDeCineAgosto,#cicloDeCineSeptiembre,#cicloDeCineOctubre,#cicloDeCineNoviembre,#cicloDeCineDiciembre {
    padding-top:3em;
}

.descripcionCiclo{
    display: flex;
    flex-direction: column;
    padding-bottom:2em;
    justify-items: center;
}

.textoCiclo{
    margin-top:5px;
    text-align: justify;
    font-family:'Alegreya Sans', sans-serif;
}

.textoCiclo i{
    color: #F2B035;
    font-size: 20px;
    text-decoration: none;
}

.descripcionCiclo picture{
    width:100%;
    
}

.descripcionCiclo picture img{
    width:80%;
    display:block;
    margin: 0 auto;
    border-radius: 5px;
}

/*ESTILOS CARRUSEL*/

/* .postersCont {
    width: 100vw;
    height: 200px;
  } */
  
  @keyframes display {
    0% {
      transform: translateX(70px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      transform: translateX(-30px);
      opacity: 0;
    }
  }
  
  .postersCont {
    position: relative;
    width: 70%;
    height: 200px;
    margin-top: 3px;
    margin:0 auto;
  }
  
  .postersCont > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    border-radius: 5px;
    height:100%;
    animation: display 16s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  


@media(min-width:769px){


    .titulos{
        font-size: 24px;
    }

    .textoCiclo{
        width:80%;
        font-size: 18px;
    }

    #background img{
      /* width:100vw; */
      /* height:100vh; */
      width:100vw;
      height:auto;
      filter: brightness(50%);
      margin-top: 0%;
      margin-left:0%
    }

    .descripcionCiclo{
        flex-direction: row;
        width:70%;
        align-items: center;
        margin: 0 auto;
        padding-bottom:1em;
    }

    .descripcionCiclo picture{
        width:100%;
        padding-right:2em;
        
    }
    
    .descripcionCiclo picture img{
        width:100%;
        
    }

   

    #selectorAgenda{
        margin:0 auto;
        width:70%;
    }

    .postersCont {
        height:400px;
    }

    @keyframes display {
        0% {
          transform: translateX(200px);
          opacity: 0;
        }
        10% {
          transform: translateX(0);
          opacity: 1;
        }
        20% {
          transform: translateX(0);
          opacity: 1;
        }
        30% {
          transform: translateX(-200px);
          opacity: 0;
        }
        100% {
          transform: translateX(-200px);
          opacity: 0;
        }
      }
    }
      @media(min-width:769px){

        #background img{
          
          margin-top: -10%;
          margin-left:0%
        }

}