/*Código Colores
#0D1026 negro azulado
#F2B035 naranja claro
#F29E38 naranja oscuro
#EDEEF2 gris
#262626 casi negro

font-family: 'Alegreya Sans', sans-serif; ----> textos
font-family: 'Fira Sans', sans-serif; ----> botones, menú etc
*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

  main,html{
    background-color: rgb(242, 158, 56);
    
}

/*Estilos comunes*/

#procesoDeCompra{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: justify;
        padding: 2em;
        background-color: #EDEEF2 ;
        margin: 2em; 
        font-family: 'Alegreya Sans', sans-serif; 
}

.titulos{
    font-family: 'Alegreya Sans', sans-serif; 
    outline:none;
    border:none;
    margin-bottom: 2em;
    font-weight: bold;
    font-size:18px;
}

form fieldset{
    outline:none;
    border:none;
}


/*Estilos paso 1*/

@import "compass/css3";

* {
  box-sizing: border-box;
}
  
html, body {
  height: 100%;
}


#formPasoUno fieldset{
    margin-left:0.5%;
    margin-bottom:1em;
}

#formPasoUno, #formPasoDos,#formPasoTres,#formPasoCuatro,#formPasoCinco{
    max-width:100%;
    padding-bottom:2em;
}

body {
  min-height: 100%;
  
}

/*Estilos paso 1*/

/* #formPasoUno fieldset label {
  width:30%;
} */

#selectPelicula,#selectCombo{
    border:none;
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    padding: 1em;
    /* margin-left: 15px; */
    border-radius: 0.25em;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;

}

.selectEntradas,.selectCombo{
    border:none;
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    padding: 1em;
    width:5em;
    margin-left:15px;
    border-radius: 0.25em;
  
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
}

.selectEntradas,.selectFecha,#selectPeliculas:focus{
    outline:none;
}

.selectFecha{
    border:none;
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    padding: 1em;
    width:fit-content;
    margin-left:15px;
    border-radius: 0.25em;
  
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    
}

.enviar,.reset{
    outline:none;
    font-family: 'Fira Sans', sans-serif;
    background-color: #EDEEF2;
    border:none;
}

.enviar{
    font-weight:bold;
}

/* .botones{
    display:flex;
    justify-content: center;
    flex-direction: row;
} */

/*radio*/

.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}


.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 0.25em;
  background-color:white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  transition: 0.3s;
  user-select: none;}

.button-label:hover {
    background-color: #EDEEF2;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
}

  .button-label:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
  }

#funcionUno:checked + .button-label {
  background: #F2B035;
}

#funcionDos:checked + .button-label {
    background: #F2B035;
  }

#funcionTres:checked + .button-label {
    background: #F2B035;
}

.hidden {
  display: none;
}
  

/*radio*/

.fa-plus{
    color: #F2B035;
    margin-left:10px;
}

/*Estilos paso 2*/

/*escoger asiento*/


#formPasoDos{
  width:450px;
  align-self:center;
}

#fieldCarritoDos{
    max-width:80vw;
}

.butacasCine {
  margin: 4px, 4px;
  

}

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .seat {
    display: flex;
    flex: 0 0 42px;
    padding: 5px;
    position: relative;
  }
  .seat:nth-child(5) {
    margin-right: 5%;
  }
  .seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
  .seat input[type=checkbox]:checked + label {
    background: #F2B035;
    /* -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both; */
  }
  .seat input[type=checkbox]:disabled + label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
  }

  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    background: white;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    border-radius: 0.25em;
    background-color:white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    cursor: pointer;
  }

  .seat label:hover {
    background-color: #EDEEF2;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
  }

  .seat label:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
  }


/*ESTILOS DE INPUTS*/

.fieldNuevo{
  border:none;
  display:block;
 
  width:100%;
  position:relative;
  margin-bottom:0.5em;
}

.cajaNuevo{
  border-radius:5px;
  width:100%;
  height:45px;
  padding:1em;
  display:block;
  /* margin: 0 auto; */
  border:none;
  outline: none;
  transition: all 0.2s ease-in-out;
  background-color: white;
  /* font-weight: bold; */
  color: #747373;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
}

.fieldNuevo label input::-moz-placeholder {
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #444444;
  /* font-weight: bold; */
}
.fieldNuevo label input:-ms-input-placeholder {
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #444444;
  /* font-weight: bold; */
}
.fieldNuevo label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #444444;
  /* font-weight: bold; */
}

.fieldNuevo label input:focus, .fieldNuevo label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
.fieldNuevo label input:focus::-moz-placeholder, .fieldNuevo label input.populated::-moz-placeholder {
      color: transparent;
  }
.fieldNuevo label input:focus:-ms-input-placeholder, .fieldNuevo label input.populated:-ms-input-placeholder {
      color: transparent;
  }
.fieldNuevo label input:focus::placeholder, .fieldNuevo label input.populated::placeholder {
      color: transparent;
  }
.fieldNuevo label input:focus + span, .fieldNuevo label input.populated + span {
     opacity: 1;
      top: 2px;
  }

.fieldNuevo label span {
font-size: .8rem;
color: #A9A9A9;
position: absolute;
top: 0px;
/* left: 20px; */
opacity: 0;
padding-left:1em;
transition: all 0.2s ease-in-out;
font-family: 'Fira Sans', sans-serif;
}

.cajaNuevo:active {
  transform: translateY(2px);
}

/*FIN ESTILOS INPUT*/

/* ESTILOS DE BOTONES */


.botonNuevo {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: 'Fira Sans', sans-serif;
  --color-primary: #EDEEF2;
  --color-secondary: #F2B035;
  /* --color-tertiary: dodgerblue; */
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
  margin-top:2em;
}

.botonNuevo button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  /* padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space); */
  height:45px;
  border: var(--border-size) solid rgb(135, 134, 134);;
  color: var(black);
  background-color: var(--color-primary);
  font-size: 0.75rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.botonNuevo button + button {
  border-left: var(--border-size) solid rgb(135, 134, 134);
  margin-left: calc(var(--border-size) * -1);
}

.botonNuevo button:hover,
.botonNuevo button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.botonNuevo button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.botonNuevo:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.botonNuevo button:active {
  transform: translateY(var(--border-size));
}


/* FIN ESTILO BOTONES */


/*Estilos paso 4*/

#resumenCompra{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#resumenCompra picture {
  width:50%;
  margin-bottom:-2%;
  z-index: 1;
}

#resumenCompra picture img{
  width:100%;
  box-shadow:0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  
}

#detalleCompra{
  background-color: white;
  width:70%;
  height:fit-content;
  padding:2em 2em;
  border-radius: 5px;
  box-shadow:0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  font-weight: bold;
  font-size:14px;
  text-align:center
}



/*Estilos paso 5*/



/*media queries*/

@media(min-width:769px){

  .botones{
      justify-content: right;
  }

/*Paso 1*/

  #titulos{
      font-size: 24px;
  }

  .selectEntradas,.selectFecha, .selectCombo{
      margin-left:3em;
  }

   /* #formPasoUno,#formPasoTres, #formPasoCinco{
      margin: 0 auto;
  } */

  #formPasoUno{
    align-self:center;
    width:400px;
  }

  .botonNuevo button {
    font-size: 1rem;
  }

  

/*Paso 2*/

/* .butacasCine {
  
  margin-left:25%;
  
} */


/*paso 3*/

#formPasoTres,#formPasoCuatro,#formPasoCinco{
align-self:center;
width:500px
}

/* PASO 4 */

#resumenCompra{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#resumenCompra picture {
  width:30%;
  margin-right:-5%;
  z-index:1;
  margin-bottom:0
}

#resumenCompra picture img{
  width:100%;
  box-shadow:0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  
}

#detalleCompra{
  background-color: white;
  width:70%;
  height:fit-content;
  padding:2em 4em;
  border-radius: 5px;
  box-shadow:0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  font-weight: bold;
  
  font-size:18px
}

}


   