* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

  html{
    background-color: rgb(242, 158, 56);
  }
  .main_box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: justify;
    /* padding: 1.5em; */
    background-color: #EDEEF2 ;
    margin: 2em; 
    font-family: 'Alegreya Sans', sans-serif; 

  }
  .main_candy{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /* width:65%; */
    margin:0 auto

    
  }

  .left_candy_container{
    width:100%;
    height: 100%;
    background-color:#ebebeb;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    padding-top: 4% ;
    padding-bottom: 2%;
    
  }
  
  /* PARTE DE LA COLUMNA DERECHA*/
  .column_box{
    display:flex;
    flex-direction:column;
    align-self: flex-start;
    width:35%;
    height: 100%;
    margin-left: 1%;
    
    background-color:#ebebeb;
  }

  .box_1_compra{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;

  }
  .descripcion_left{
    width: 50%;
    margin-top: 4%;
    margin-left: 2%;
    
  }
.descripcion_rigth{
  width: 50%;
  display:flex;
  flex-direction:column;
  justify-content:justify;
  align-items: flex-start;
  font-family: 'Alegreya Sans', sans-serif;
  margin-left: 3%;
}

.descripcion_title{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20%;
  margin-top: 10%;
  
}
  
.img_compra_online{
  width: 100%;
}
 
/* totalizador */ 

.el_totalizador{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 15px 10px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size:30px;

}
.la_linea{
  
  margin: 15px 10px;
  height: 2px;
  border-color: black;
}



  .candy_box{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 10px 10px;
    width:380px;
    height:270px;
    
    
  }
  
  .candy_box_left{
    display:flex;
    flex-direction: column;
   
    background-color:white;
    width:60%;
    height:90%;
    border-radius: 8px 0 0 8px;
    
  }
  .candy_box_rigth{
    display:flex;
    flex-direction:column;
    width:40%;
    height:90%;
    background-color:#838396;
    border-radius: 0 8px 8px 0;
    justify-content: center;
    align-items: center;
    transition:all 300ms;
  }
  .candy_box_rigth:hover {
    background-color:grey;
    
  }
  /* titulos de secciones*/
  .combos{
    width:100%;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Alegreya Sans', sans-serif;
  }

  .pochoclos{
    width:100%;
    text-align: center;
    padding-bottom: 10px;
  }

  .bebidas{
    width:100%;
    text-align: center;
    padding-bottom: 10px;
  }
/* TITULO DE COMBO */
  .combo_titulo{
    width:100%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.1em;
  }
  

  /* img y descrip de cada articulo */
  .img_box{
    text-align: center;
    padding-top: 3%;
  }
  .candy_box_left img {
   
    height: 100%;
    overflow: hidden;
}
  .img_descripcion{
    text-align: center;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Alegreya Sans', sans-serif;
  }

  /* precio de los candy */

.precio_antes{
text-decoration: line-through;
font-size: 1.1em;
color:white;
font-family: 'Alegreya Sans', sans-serif;
}

.precio_ahora{
font-size: 2em;
font-weight: bolder;
color: white;
font-family: 'Alegreya Sans', sans-serif;
}
.agregar_combo{
  font-size: 30px;
  color: black;
  padding-top: 15px;
  border-color: #F29E38;
  transition: all 250ms;
}
.agregar_combo:hover{
  color: #F29E38;
  font-size: 35px;
}

/* css para botones */

.botonNuevo {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: 'Fira Sans', sans-serif;
  --color-primary: #EDEEF2;
  --color-secondary: #F2B035;
  /* --color-tertiary: dodgerblue; */
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
  margin-top:2em;
}

.botonNuevo button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  /* padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space); */
  height:45px;
  border: var(--border-size) solid rgb(135, 134, 134);;
  color: var(black);
  background-color: var(--color-primary);
  font-size: 0.75rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.botonNuevo button + button {
  border-left: var(--border-size) solid rgb(135, 134, 134);
  margin-left: calc(var(--border-size) * -1);
}

.botonNuevo button:hover,
.botonNuevo button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.botonNuevo button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.botonNuevo:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.botonNuevo button:active {
  transform: translateY(var(--border-size));
}

@media (min-width:769px){

  .main_box{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .left_candy_container{
    width:50%;
    margin:0 auto
  }
.column_box {
  width:90%;
  margin-bottom: 5%;
}
.main_candy{
  width:90%;
  display: flex;
  flex-direction: row;
}


}