/*Código Colores
#0D1026 negro azulado
#F2B035 naranja claro
#F29E38 naranja oscuro
#EDEEF2 gris
#262626 casi negro

font-family: 'Alegreya Sans', sans-serif; ----> textos
font-family: 'Fira Sans', sans-serif; ----> botones, menú etc
*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

  main,html{
    background-color: rgb(242, 158, 56);
    
}

#createProduct{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: justify;
    padding: 2em;
    background-color: #EDEEF2 ;
    margin: 2em; 
    font-family: 'Alegreya Sans', sans-serif; 
}

.titulos{
font-family: 'Alegreya Sans', sans-serif; 
outline:none;
border:none;
margin-bottom: 2em;
font-weight: bold;
font-size:18px;
}

#creationForm fieldset{
outline:none;
border:none;
margin: 1em 0;
}

* {
    box-sizing: border-box;
  }
    
  html, body {
    height: 100%;
  }

  body{
      min-height: 100%;
  }

  #creationForm{
      max-height:100%
  }
  

/*RADIO AGE*/

  .container {
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
  }
  
  
  .button-label {
    display: inline-block;
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 0.25em;
    background-color:white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
    transition: 0.3s;
    user-select: none;}
  
  .button-label:hover {
      background-color: #EDEEF2;
      box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.32);
  }
  
    .button-label:active {
      transform: translateY(2px);
      box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22); 
    }
  
  #ageATP:checked + .button-label {
    background: #F2B035;
  }
  
  #ageThirteen:checked + .button-label {
      background: #F2B035;
    }
  
  #ageSixteen:checked + .button-label {
      background: #F2B035;
  }

  #ageEighteen:checked + .button-label {
    background: #F2B035;
}

#conditioned:checked + .button-label {
  background: #F2B035;
}
  
  .hidden {
    display: none;
  }

/*RADIO AGE*/

#beverage:checked + .button-label {
  background: #F2B035;
}

#food:checked + .button-label {
    background: #F2B035;
  }

#combo:checked + .button-label {
    background: #F2B035;
}

#yearPass:checked + .button-label {
  background: #F2B035;
}

#monthPass:checked + .button-label {
  background: #F2B035;
}

form fieldset legend{
    font-weight: bold;
}

@media(min-width:769px){

    .botones{
        justify-content: right;
    }
  
  /*Paso 1*/
  
    .titulos{
        font-size: 24px;
    }
  
    #creationForm{
        align-self:center;
        width:70%
        }
    
      .selectOption{
        margin:0 auto;
        width:70% !important
      
      }


}