

/* css del HEADER de la pagina*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .option{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding-bottom:5px;
    display: inline-block;
    font-size: 75%;
    font-weight: 500;
    position: relative;
  }

  .option:after {    
    background: none repeat scroll 0 0 transparent;
    bottom:0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .option:hover:after { 
    width: 100%; 
    left: 0; 
  }

  #logoutButton{
    border: none;
    background-color: transparent;
  }
  .header_superior{
      display:flex;
      flex-direction:column;
      width:100%;
  }

dl {
    list-style-type: none;
}

body{
    padding-top: 7vh;
}

#banner img{
    width: 100%;
  }

#banner{
    z-index:1
}

.main_nav{
    background-color: #262626;
    font-family: 'Fira Sans', sans-serif;
    padding: 5px 20px;
    height: 7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
	position: fixed;
	top: 0;
    z-index: 100;
}

#nav02 i, a {
    text-decoration: none;
    color:#F29E38;
}

.nav01 .item a {
    color: #EDEEF2;;
    text-decoration: none;
}

.nav01 {
    
    display: none;
  }

.fa-user,.fa-shopping-cart,.fa-right-from-bracket,.fa-user{
    display:none !important
}

.item{
    color:#F29E38
}

#logo{
    height:4.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:-20%;
}

#nav02 i, a {
    text-decoration: none;
    color:#F29E38;
}

form .search {
    display: flex;
    max-width: 65vw;
    /*margin-right:2em;*/
    flex-basis: auto;
    border:none;
    outline: none;
}

.search fieldset{
    display: flex;
    flex-grow: 1;
    justify-content:space-around;
    border: none;  
}

.search fieldset input {
    padding-left: 3%;
}

.search fieldset input {
    border: none;
    border-radius: 5px;
    outline: none;
    display:flex;
    flex-grow: 1;
    background-color: white;
    height: 5vh;
    width:100%
}

.search fieldset button {
    border:none;
    background-color: white;
    margin-left: -10px;
    border-radius: 5px;
}

#nav02 form{
    display:none !important
}

/* BURGER MENU */

.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    
  }
  
  .menuItem:hover {
    text-decoration: none;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 0.35rem;
    /* right: 1rem; */
    padding: 4px;
    background: none;
    outline: none !important;
    border:none;
    /* border: black solid 1px; */
    /* background: white; */
    cursor: pointer;
    font-size:20px
  }
  
  .fa-times {
    display: none;
    outline:none
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #262626;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }

/*media queries*/

@media(min-width: 769px){
    
    .nav01{
        display: flex;
        
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow:2;
    }

    #nav02{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 10%;
        justify-content: center;
        align-content: center;
    }

    #nav02 a i{
        margin-right:1em
    }

    .search {       
        margin-right:2em;
    }

    #logo{
        height:5vh;
    }

    .fa-bars{
        display:none !important;
    }

    #nav02 button{
        display:none !important;
    }

    .menu{
        display:none !important
    }

    #nav02 form{
        display:block !important
    }

    .fa-user,.fa-shopping-cart,.fa-right-from-bracket,.fa-user{
        display:block !important
    }

    .dropdown {
        display: inline-block;
        position: relative;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
      }
      .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown-content a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
      }
      .dropdown-content a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
      }

}