/*Código Colores
#0D1026 negro azulado
#F2B035 naranja claro
#F29E38 naranja oscuro
#EDEEF2 gris
#262626 casi negro

font-family: 'Alegreya Sans', sans-serif; ----> textos
font-family: 'Fira Sans', sans-serif; ----> botones, menú etc
*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

dl {
    list-style-type: none;
}

main{
  background-color: rgb(242, 158, 56);
  text-align: center;
 
}

/* css del main */

.titulos{
  font-family: 'Alegreya Sans', sans-serif; 
  padding-top: 2em;
}

#container-posters{
  background-color: #EDEEF2;
  border-radius: 5px;
  margin: 40px;
  display: flex;
  flex-direction:column
}

.images{
  padding: 3em 3em 1em 3em;
 
}

.images img{
    width: 100%;
    border-radius: 3px ;
    box-shadow: 0px 0 0px 1px rgb(242, 158, 56);
    padding: 15px;
    
   
   }



#container-moderna{
display: flex;
flex-direction: column;

}


.estrenos{
  background-color: #262626 ;
  padding-bottom: 10px;
}

.estrenos article .images{

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

}

.estrenos article .images img{
  box-shadow: 0px 0 0px 1px #e6e6e6;
  padding: 15px;

}

.container-estreno{
  flex-direction: column;
  margin-bottom: 1em;
 
}


.descripciones{
  font-family: 'Alegreya Sans', sans-serif; 
  text-align: center;
  font-size: 12px;
  
}


@media (min-width:769px){
  

  #container-moderna{
    display: flex;
    flex-direction: row;
    
    }
    
    #container-clasica{
      display: flex;
      flex-direction: row;
      }

    .images {
        padding: 1.25em;
    }
 
  .estrenos{
  
    flex-direction: row;
  }

  .estrenos article .images {
    padding: 1em;
}

}