/*Código Colores
#0D1026 negro azulado
#F2B035 naranja claro
#F29E38 naranja oscuro
#EDEEF2 gris
#262626 casi negro

font-family: 'Alegreya Sans', sans-serif; ----> textos
font-family: 'Fira Sans', sans-serif; ----> botones, menú etc
*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }

dl {
    list-style-type: none;
}

main{
  background-color: rgb(242, 158, 56);
  text-align: center;
 
}

/* css del main */

.titulos{
  font-family: 'Alegreya Sans', sans-serif; 
}

#container-posters{
display: flex;
padding: 2.5em;
flex-wrap: wrap;
}

.images img{
 width: 100%;
 border-radius: 3px ;

}

.images{
  background-color: #EDEEF2;
  padding: 45px;
 
}

.container-poster-dune{
  display: flex;
  position: absolute;
}

#info-dune{
  width: 100%;
  backdrop-filter: blur(2px);
  position: relative;
  left: -10px;
  top: -194px;
  display: none;
}

/*section:hover #info-dune {
  display: block;
}*/

.estrenos{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}



@media (min-width:769px){
  
  #container-posters{
   display: flex;
   flex-wrap: nowrap;

  }

  .estrenos{
    display: flex;
    flex-direction: row;
  }

}