
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


main{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: rgb(242, 158, 56);
    
  }


.images-list img{
    width: 100%;
    border: white 4px dashed;
}



#list-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

article h2{
    padding: 10px;
}

a .fa-trash,.fa-pencil-alt{
    font-size: 16px;
    padding: 10px;   
    color: white;
}

@media(min-width: 769px){

#list-movie{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    
}

.images-list img{
    width: 40%;

}


}