
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

#iconitos {
    display: flex;
    justify-content: center;
}

main{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: rgb(242, 158, 56);
    
  }


.images-list img{
    width: 100%;
    border: white 4px dashed;
}



#list-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

article h2{
    padding: 10px;
}

.fa-trash,.fa-pencil-alt{
    font-size: 16px;
    padding: 10px;   
    color: white;
}

#iconitos form button {
    border: none;
    background-color: transparent
}

#cajitaUser{
    width:90%;
    margin: 0 auto;
    border: medium solid #262626;
    padding: 3%;
    border-radius: 20px;
    margin-bottom: 5%;
    background-color: #EDEEF2;
}

.datosLista{
    font-weight: bold;
    font-size: medium;
}

.tituloLista{
    font-size: large;
}

@media(min-width: 769px){

#list-movie{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    
}

.images-list img{
    width: 40%;

}


}