* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
    
  }

  .los_precios{
    display:flex;
    flex-direction: column;
    padding:0px;
    background-color:rgb(242, 158, 56);
    
}
.tarifas{
    background-color:rgb(242, 158, 56);
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}

._2d{
    display:flex;
    flex-direction: row; 
    border-radius: 5%;
    justify-content:space-around;
    align-items: center;
    background-color:#ebebeb;
    margin: 2em;
    transition:all 200ms;
    
}
._3d{
    display:flex;
    flex-direction: row;
    border-radius: 5%;
    justify-content:space-around;
    align-items: center;
    background-color:#ebebeb;
    margin: 2em;

}

._2d:hover{
    box-shadow: -2px 2px 18px 4px rgba(0,0,0,0.75);
   
}
._3d:hover{
    box-shadow: -2px 2px 18px 4px rgba(0,0,0,0.75);
}


 #img_2d{
    width:400px;
    height: 300px;
    max-height: 65vh;
    border-radius: 10%;
    max-width: 65vw;
    padding:3px;
    margin: 10% 5px;
    object-fit: cover;
}

#img_3d{
    width:400px;
    max-width: 65vw;
    height: 300px;
    max-height: 65vh;
    object-fit: cover;
    padding:3px;
    margin: 10% 5px;
}
.tarifas_title{
    font-size: 1.17em;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 15px;
}
.salas_title{
    font-size: 36px;
    text-align: left;
}
.la_linea{
  height: 10px;
  width: 100%;
  background-color: #262626;
}

.precios {
    font-weight:bolder;

}
div ul {
    padding-top:20px;
    
}
div ul li {
    margin: 5px;
    font-size: 24px;
    font-family: 'Alegreya Sans', sans-serif;
   
}

.terminos h3 {
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 10px;
}
.terminos{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:3%;
}

@media (max-width:685px){

    ._2d{
        display:flex;
        flex-direction: column-reverse;

    }
    ._3d{
        display:flex;
        flex-direction: column-reverse;

    }

    .terminos{

    }
    
    }