/*Código Colores
#0D1026 negro azulado
#F2B035 naranja claro
#F29E38 naranja oscuro
#EDEEF2 gris
#262626 casi negro

font-family: 'Alegreya Sans', sans-serif; ----> textos
font-family: 'Fira Sans', sans-serif; ----> botones, menú etc
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


main{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: rgb(242, 158, 56);
    text-align: center;
    

  }



.images img{
    width: 45%;
    
}

.play { 
    background: #F29E38;
    border-radius: 50% / 10%;
    color: #FFFFFF;
    font-size: 2em; /* change this to change size */
    height: 3em;
    margin: 20px auto;
    padding: 0;
    position: relative;
    text-align: center;
    text-indent: 0.1em;
    transition: all 150ms ease-out;
    width: 4em;
  }
  
  .play:hover {
    background: #e6ba6a ;
  }
  
  .play::before { 
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
  }
  
  .play::after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
    content: ' ';
    font-size: 0.75em;
    height: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    width: 0;
  }
  

    
#background img{
width: 100%;
/* margin:-25%; */
filter: brightness(50%);
height:300%;
margin-top:-40%

}

#background {
    margin: 0%;
    display: flex;
    position: absolute;
    height: 50%;
    overflow: hidden;
    
}

.container-peli{
    display: flex;
    flex-direction: column; 
    position: relative; 
    text-align: center; 
    top: 126px;
    background: #EDEEF2;
    border: #F29E38 4px dashed;
    padding:5%
}

 h2{
    font-family:  'Alegreya Sans', sans-serif; 
    font-size: 24px;
    color: #F29E38;
    font-weight: 900;
    text-shadow: 3px 3px 3px black;
    top: -87px;
    position: relative;

}

#stars{
    position: relative;
    top: -132px;
    color: #F29E38;
    text-shadow: 1px 1px 1px black;
    font-size: 12px;
}
.star-color{
    color: #f29e3805;
}

.images{

        border-radius: 5px;
        margin: 20px;
        position: relative;
        text-align: center;
        top: -3px;
}

iframe {
    width:325px;
    height:180px;
    position: relative;
    top: -7px;
    left:-1px;
    
}

#sinopsis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;    
}

article form input{
  border: none;
  padding: 1em;
  border-radius: 5px;
  background-color: #F29E38;
  color: white;
  font-size: 12px;
}

.descripciones{
    position: relative;
    top: -42px;
}

.descripciones-images {
    color: white;
    font-size: 24px;
    width: 68%;
    height: 78%;
    font-size: bold;
    font-family: 'Alegreya Sans', sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px black;
    visibility: hidden;
}

#comment-movie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-family:  'Alegreya Sans', sans-serif; 
    font-size: 18px;
    background:#262626;
    padding: 50px;    
    color: #F29E38;
    position: relative;
    top: -39px;
}

.descripciones p{
    text-align: start;
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 18px;

}
.movie-info{
    border: none;
    border-radius: 2px;
    margin: 1px 10px ;
    padding: 4px;
    
}

.movie-button button{
    padding: 5px;
    font-family: 'Fira Sans', sans-serif; 
}

#button-compra input{
    border: none;
    padding: 5px;
    font-family: 'Fira Sans', sans-serif; 
}

#form-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-compra {
    margin: 10px;
}

#button-compra input{
    border: none;
    padding: 5px;
    font-family: 'Fira Sans', sans-serif; 
}

#footer{
    position: relative;
    top: 125px;
    
}

@media(min-width: 769px){

    h2 {
        top: -238px; 
        font-size: 40px;
    }

    #stars {
        top:  -238px;
 
    }
    .container-peli {
        top: 272px;
        
    }

    #background img {
        margin-top:-26%;
        height:500%;
    }

    iframe {
        width: 605px;
        height: 357px;
    }

    .descripciones-images {
       
        top: 55%;
        left: 50%;
       
    }
  
    #footer{
       
        top: 269px;
        
    }

    #flexDescription{
        display: flex;
    }
    
   

    .images img{
        width:70%;
        
    }

    .descripciones{
        margin:auto;
        position:unset
    }

}

