
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


main{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: rgb(242, 158, 56);
    text-align: center;

  }



.images img{
    width: 45%;
    
}
 
    
#background-indemnity img{
width: 100%;

}

#background-indemnity {
    margin: 0%;
    display: flex;
    position: absolute;
}

.container-peli{
    display: flex;
    flex-direction: column; 
    position: relative; 
    text-align: center; 
    top: 174px;
    background: #EDEEF2;
    
}

 h2{
    font-family:  'Alegreya Sans', sans-serif; 
    font-size: 24px;
    color: #F29E38;
    font-weight: 900;
    text-shadow: 3px 3px 3px black;
    top: -130px;
    position: relative;

}

#stars{
    position: relative;
    top: -132px;
    color: #F29E38;
    text-shadow: 1px 1px 1px black;
    font-size: 12px;
}
.star-color{
    color: #f29e3805;
}

.images{

        border-radius: 5px;
        margin: 20px;
        position: relative;
        text-align: center;
        top: -3px;
}

iframe {
    width:325px;
    height:180px;
    position: relative;
    top: -34px;
    left:-1px;
    
}

#sinopsis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;    
}

article form input{
  border: none;
  padding: 1em;
  border-radius: 5px;
  background-color: #F29E38;
  color: white;
  font-size: 12px;
}

.descripciones{
    position: relative;
    top: -42px;
}

#comment-movie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-family:  'Alegreya Sans', sans-serif; 
    font-size: 18px;
    background:#262626;
    padding: 50px;    
    color: #F29E38;
    position: relative;
    top: -39px;
}

.descripciones p{
    text-align: start;
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 18px;

}
.movie-info{
    border: none;
    border-radius: 2px;
    margin: 1px 10px ;
    padding: 4px;
    background-color: #F29E38;
    
}

.movie-button button{
    padding: 5px;
    font-family: 'Fira Sans', sans-serif; 
}

#button-compra {
    margin: 10px;
}

#button-compra input{
    border: none;
    padding: 5px;
    font-family: 'Fira Sans', sans-serif; 
}

#footer{
    position: relative;
    top: 176px;
    
}

@media(min-width: 769px){

    h2 {
        top: -276px; 
        font-size: 40px;
    }

    #stars {
        top: -273px;
 
    }
    .container-peli {
        top: 432px;
    }
  
    #footer{
       
        top: 434px;
        
    }

}

