/*Código Colores
#0D1026 negro azulado
#F2B035 naranja claro
#F29E38 naranja oscuro
#EDEEF2 gris
#262626 casi negro

font-family: 'Alegreya Sans', sans-serif; ----> textos
font-family: 'Fira Sans', sans-serif; ----> botones, menú etc
*/

* {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
    
  }

  main,html{
    background-color: rgb(242, 158, 56);
    
}

html, body {
    height: 100%;
  }

#profileMain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: justify;
    padding: 1.5em;
    background-color: #EDEEF2 ;
    margin: 2em; 
    font-family: 'Alegreya Sans', sans-serif; 
}

.avatarLabel{
    background-color: #F29E38;
  color: white;
  padding: 0.5rem;
  font-family: 'Fira Sans', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  

}

.formAvatar {
    margin-top: 1rem;
}

.fa-arrow-up-from-bracket{
    color: #262626
}

#uploadImage{
    border: none;
    background-color: transparent;
}

.titulos{
    font-family: 'Alegreya Sans', sans-serif; 
    outline:none;
    border:none;
    margin-bottom: 2em;
    font-weight: bold;
    font-size:18px;
}

.avatar,.panelAvatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    
}

.figureAvatar,#panelFigure{
    width:120px;
    height:120px;
}

.panelOpciones{
    margin-left: 5%;
    width:100%;
    font-weight: bold;
}

.tarjetaPerfil{
    display: flex;
    flex-direction: column;
    width:85%;
    margin: 0 auto;
    border: medium solid #262626;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 5%;
}

.tarjetaPerfil:hover{
    box-shadow: 0 7px 10px rgba(0,0,0,0.2)
}

.usuario{
    padding:5%;
    width:100%
}

.datos{
    font-weight: bold;
}

.figureAvatar,.usuario,#panelFigure,.panelOpciones{
    align-self:center
}

.usuario,.panelOpciones{
    text-align: center;
}


@media(min-width:769px){


    .titulos{
        font-size: 24px;
    }

    .tarjetaPerfil{
        flex-direction: row;
        height:244px;
        width:578px;

    }

    .avatar,.panelAvatar {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        
    }

    .figureAvatar,#panelFigure{
        width:200px;
        height:200px;
    }

    .botonNuevo{
        width:578px !important;
        margin:0 auto !important
    }

    .panelOpciones{
        align-self: center;
    }
}