<footer id="footer">

    <picture>
        <img src="/img/LOGOVFINAL.png" alt="" id="logoFooter">
    </picture>

    <section id="footerDatos">
        <article class="titulosFootie">Contactanos</article>
        <article id="domicilio">
            <i class="fas fa-map-marker-alt iconFooter"></i>
            <p>Av. Corrientes 2341, CABA</p>
        </article>
            
        <article id="telefono">
            <i class="fas fa-phone-alt iconFooter"></i>
            <p>(011) 4444-6666</p>
        </article>
    
    </section>

    <!-- <section id="footerRedes">
        <h3>Seguinos en redes</h3>
        <i class="fab fa-instagram iconFooter"></i>
        <i class="fab fa-twitter iconFooter"></i>
        <i class="fab fa-facebook iconFooter"></i>
    </section> -->

    <section id="footerRedes">
      <article class="titulosFootie">Seguinos en redes</article>
    <ul id="cajaRedes">
        <li class="cajaIconos">
          <a class="facebook" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="twitter" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="cajaIconos">
          <a class="instagram" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
    </ul>
    </section>

    <section id="footerNews">
      <article class="titulosFootie">¡Suscribite!</article>
        <fieldset class="fieldNuevo">
        <label for="newsEmail"><input type="email" name="newsEmail" class="cajaNuevo" placeholder="Ingresá tu email"  >
        <span>Ingresá tu e-mail</span>
        </label> 
        </fieldset>
    </section>

</footer>