<header class = "header_superior">
    <nav class ="main_nav">
        <picture>
            <a href="/"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
        </picture>

        <dl class="nav01">
            <dt class="item"><a class="option" href="/agenda">agenda</a></dt>
            <dt class="item"><a class="option" href="/salas">salas</a></dt>
            <dt class="item"><a class="option" href="/combos">combos</a></dt>
            <dt class="item"><a class="option" href="/nosotros">nosotros</a></dt>
        </dl>
        <form class="search" action="/products/search" method="post">
            <fieldset>
                <input type="search" placeholder="Buscar" name="search" />
                <button  class="buscador">
                    <i class="fas fa-search"></i>
                </button>
            </fieldset>
        </form>
        <section id="nav02">
            <ul class="menu">
                <% if(!user) {%> 
                <li><a class="menuItem" href="/agenda">Agenda</a></li>
                <li><a class="menuItem" href="/salas">Salas</a></li>
                <li><a class="menuItem" href="/users/login">Ingresar</a></li>
                <li><a class="menuItem" href="/users/register">Registrarse</a></li>
                <% } else { %>
                <li><a class="menuItem" href="/agenda">Agenda</a></li>
                <li><a class="menuItem" href="/salas">Salas</a></li>
                <li><a class="menuItem" href="/users/profile">Perfil</a></li>
                <li><a class="menuItem" href="/products/carrito">Mi carrito</a></li>
                <% } %> 
            </ul>
            <button class="hamburger">
                <i class="fas fa-bars" title="Menú"></i>
                <i class="fas fa-times"></i>
            </button>
            <% if (!user) { %>
                <a href="/users/login"><i class="fas fa-user iconNav" title="Login"></i></a>
                
            <% } else { %>
                <a href="/users/profile"><i class="far fa-address-card iconNav" title="Perfil"></i></a>
                <a href="/products/carrito"><i class="fas fa-shopping-cart iconNav" title="Carrito"></i></a>
                <form action="/users/logout" method="post">
                    <button type="submit" id="logoutButton">
                        <i class="fa-solid fa-right-from-bracket iconNav" title="Log out"></i>
                    </button>
                </form>
            <% } %>
                
        </section>
    </nav> 
    
    <script src="/js/burger.js" type="text/javascript"></script>

</header>