<header class = "header_superior">
    <nav class ="main_nav">
        <picture>
            <a href="/"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
        </picture>

        <dl class="nav01">
            <dt class="item"><a class="option" href="/agenda">Agenda</a></dt>
            <dt class="item"><a class="option" href="/precios">Precios</a></dt>
            <dt class="item"><a class="option" href="/combos">Combos</a></dt>
            <dt class="item"><a class="option" href="/nosotros">Nosotros</a></dt>
        </dl>
        <form class="search" action="/products/search" method="post">
            <fieldset>
                <input type="search" placeholder="Buscar" name="search" />
                <button  class="buscador">
                    <i class="fas fa-search"></i>
                </button>
            </fieldset>
        </form>
        <section id="nav02">
            <a href="/menu"><i class="fas fa-bars" title="Menú"></i></a> 
            <% if (!user) { %>
                <a href="/users/login"><i class="fas fa-user iconNav" title="Login"></i></a>
                
            <% } else { %>
                <a href="/users/profile"><i class="far fa-address-card iconNav" title="Perfil"></i></a>
                <a href="/products/carrito"><i class="fas fa-shopping-cart iconNav" title="Carrito"></i></a>
                <form action="/users/logout" method="post">
                    <button type="submit" id="logoutButton">
                        <i class="fa-solid fa-right-from-bracket iconNav" title="Log out"></i>
                    </button>
                </form>
            <% } %>
                
        </section>
    </nav> 
    
    

</header>