<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= locals.title? title : 'Error' %></title> 
    
    <!--prueba
    
    <script>
        var message = "Hey, volvé!";
        var original = "Mercado Liebre";
        
        window.onblur = function () { document.title = message; }
        window.onfocus = function () { document.title = original; }
    </script>
    
    <link rel="icon" type="image/png" href="\images\mercado-libre.png">
    -->

    <!--CSS-->
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    
    
    <%- include ('./libs') %>
    <%- include ('./styles') %> 

    

    
</head>