<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agenda</title> 
        
        <!--prueba
        
        <script>
            var message = "Hey, volvé!";
            var original = "Mercado Liebre";
            
            window.onblur = function () { document.title = message; }
            window.onfocus = function () { document.title = original; }
        </script>
        
        <link rel="icon" type="image/png" href="\images\mercado-libre.png">
        -->
    
        <!--CSS-->
        <link rel="stylesheet" href="/css/agenda.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
    
        <!--Librerías-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    
    </head>
    
    <body>
    
        <header class = "header_superior">
            <nav class ="main_nav">
                <picture>
                    <a href="http://localhost:3001/home"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
                </picture>
        
                <dl class="nav01">
                    <dt class="item"><a class="option" href="/agenda">Agenda</a></dt>
                    <dt class="item"><a class="option" href="/precios">Precios</a></dt>
                    <dt class="item"><a class="option" href="/combos">Combos</a></dt>
                    <dt class="item"><a class="option" href="/nosotros">Nosotros</a></dt>
                </dl>
                <form class="search" action="/" method="get">
                    <fieldset>
                        <input type="search" placeholder="Buscar" name="search" />
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </fieldset>
                </form>
                <section id="nav02">
                    <a href="/login"><i class="fas fa-user iconNav"></i></a>
                    <a href="/carrito"><i class="fas fa-shopping-cart iconNav"></i></a>
                    <a href="/menu"><i class="fas fa-bars"></i></a>
                </section>
            </nav>
        
            
            
        </header>
    
        <main>
            
            <section id="agendaMain">
                <h1 class="titulos">Agenda</h1>
                <section id="selectorAgenda">
                    <select name="mesAgenda" id="selectMesAgenda">
                            <option selected value="0"> Elija un mes </option>
                            <option value="1">Enero 2021</option> 
                            <option value="2">Febrero 2021</option> 
                            <option value="3">Marzo 2021</option> 
                            <option value="4">Abril 2021</option> 
                            <option value="5">Mayo 2021</option> 
                            <option value="6">Junio 2021</option> 
                            <option value="7">Julio 2021</option> 
                            <option value="8">Agosto 2021</option>
                            <option value="9">Septiembre 2021</option>
                            <option value="10">Octubre 2021</option>
                            <option value="11">Noviembre 2021</option>
                            <option value="12">Diciembre 2021</option>
                    </select>
                </section>

                <section id="cicloDeCineEnero">
                    <h3 class="tituloCiclo">ENERO: CICLO DE CINE RUSO</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/01-cineruso.jpg" alt="" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            El cine de Rusia ha tenido distintas etapas en la historia rusa, desde los orígenes importando los Zares la novedad desde Francia, pasando por el emblemático cine soviético y llegando al moderno cine de la actual Federación Rusa. 
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Pasaron las grullas <a href="https://www.imdb.com/title/tt0050634/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El hombre de la cámara <a href="https://www.imdb.com/title/tt0019760/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Moscú no cree en lágrimas <a href="https://www.imdb.com/title/tt0079579/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El acorazado Potemkin <a href="https://www.imdb.com/title/tt0015648/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="/img/01-cranes.jpg" alt="Pasaron las grullas" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/01-man camera.jpg" alt="El hombre de la cámara" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/01-moscow tears.jpg" alt="Moscú no cree en lágrimas" srcset="">
                        </picture>  

                        <picture>
                            <img src="/img/01-potemkin.jpg" alt="El acorazado Potemkin" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineFebrero">
                    <h3 class="tituloCiclo">FEBRERO: CICLO DE CINE JAPONES</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/02-cinejapones.jpg" alt="Poster cine Japonés" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            El cine de Japón tiene una historia que abarca más de 100 años. La importación desde Francia de un cinematógrafo de los hermanos Lumière en 1897 marcó los albores del cine en Japón.

                            Japón tiene una de las industrias cinematográficas más antiguas y más grandes del mundo; en 2010, fue el cuarto más grande productor de largometrajes a nivel mundial.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Cuentos de Tokio <a href="https://www.imdb.com/title/tt0046438/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Cuentos de la luna pálida <a href="https://www.imdb.com/title/tt0046478/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Onibaba <a href="https://www.imdb.com/title/tt0058430/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Rashomon <a href="https://www.imdb.com/title/tt0042876/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="/img/02-cuentosdetokio.jpg" alt="Cuentos de Tokio" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/02-cuentosluna.jpg" alt="Cuentos de la luna pálida" srcset="">
                        </picture>

                        <picture>
                            <img src="/img/02-onibaba.jpg" alt="Onibaba" srcset="">
                        </picture>  

                        <picture>
                            <img src="/img/02-rashomon.jpg" alt="Rashomon" srcset="">
                        </picture>

                    </section>

                </section>


                <section id="cicloDeCineMarzo">
                    <h3 class="tituloCiclo">MARZO: CICLO DE CINE NOIR</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/03-cinenoir.jpg" alt="Poster cine noir" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            La expresión «cine negro», del francés film noir, fue acuñada por primera vez por el crítico Nino Frank; las películas caracterizadas como de cine negro giran en torno a hechos delictivos y criminales con un fuerte contenido expresivo y una característica estilización visual.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Phantom Lady <a href="https://www.imdb.com/title/tt0036260/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                The big combo <a href="https://www.imdb.com/title/tt0047878/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Double Indemnity <a href="https://www.imdb.com/title/tt0036775/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                The big heat <a href="https://www.imdb.com/title/tt0045555/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\03-noir01_phantom lady.jpg" alt="Phantom Lady" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\03-noir02_the big combo.jpg" alt="The big combo" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\03-noir03_double indemnity.jpg" alt="Double Indemnity" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\03-noir04_the big heat.jpg" alt="The big heat" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineAbril">
                    <h3 class="tituloCiclo">ABRIL: CICLO DE SPAGHETTI WESTERN</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/04-spaghetti.jpg" alt="Poster cine spaghetti" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            El spaghetti western, es un subgénero particular del western creado y desarrollado por directores italianos, que estuvo de moda en los años 1960 y 1970 y que se caracteriza por tener producciones europeas. El género adquirió rápidamente el nombre de spaghetti western cuando se trataba de películas italianas.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                La muerte viaja a caballo <a href="https://www.imdb.com/title/tt0064208/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Django <a href="https://www.imdb.com/title/tt0060315/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El bueno, el malo y el feo <a href="https://www.imdb.com/title/tt0060196/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Érase una vez en el oeste <a href="https://www.imdb.com/title/tt0064116/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\04-deathrides.jpg" alt="La muerte viaja a caballo" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\04-django.jpg" alt="Django" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\04-elbuenoelmalo.jpg" alt="El bueno, el malo y el feo" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\04-eraseunavez.jpg" alt="The big heat" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineMayo">
                    <h3 class="tituloCiclo">MAYO: CICLO DE CINE EXPRESIONISTA ALEMÁN</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/05-expresionismoaleman.jpg" alt="Poster cine expresionista alemán" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            El cine expresionista alemán pretendía expresar de una forma más subjetiva la naturaleza del ser humano, dando preponderancia a la expresión de los sentimientos más que a la descripción objetiva de la realidad.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                El gabinete del Dr. Caligari <a href="https://www.imdb.com/title/tt0010323/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El Golem <a href="https://www.imdb.com/title/tt0011237/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Metropolis <a href="https://www.imdb.com/title/tt0017136/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Nosferatu <a href="https://www.imdb.com/title/tt0013442/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\05-caligari.JPG" alt="El gabinete del Dr. Caligari" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\05-golem.jpg" alt="El Golem" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\05-metropolis.jpg" alt="Metropolis" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\05-nosferatu.jpg" alt="Nosferatu" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineJunio">
                    <h3 class="tituloCiclo">JUNIO: CICLO DE APU</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="/img/06-apu.jpg" alt="Poster cine ciclo Apu" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            La Trilogía de Apu es una serie de tres películas dirigidas por Satyajit Ray, basadas en las novelas del bengalí Bibhutibhushan Bandopadhyay.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Pather Panchali <a href="https://www.imdb.com/title/tt0048473/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Aparajito <a href="https://www.imdb.com/title/tt0048956/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Apur Sansar <a href="https://www.imdb.com/title/tt0052572/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\06-01patherpanchali.jpg" alt="Pather Panchali" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\06-02aparajito.jpg" alt="Aparajito" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\06-03apursansar.jpg" alt="Apur Sansar" srcset="">
                        </picture>  

                        

                    </section>

                </section>

                <section id="cicloDeCineJulio">
                    <h3 class="tituloCiclo">JULIO: CICLO DE NOUVELLE VAGUE</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="\img\07-nouvelle.jpg" alt="Poster nouvelle vague" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            La nueva ola de realizadores franceses reaccionaron contra las estructuras que el cine de masas imponía hasta ese momento y, consecuentemente, postularon como máxima aspiración, no solo la libertad de expresión, sino también libertad técnica en el campo de la producción fílmica. 
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Los cuatrocientos golpes <a href="https://www.imdb.com/title/tt0053198/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                La felicidad <a href="https://www.imdb.com/title/tt0058985/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Hiroshima Mon Amour <a href="https://www.imdb.com/title/tt0052893/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                L'amour fou <a href="https://www.imdb.com/title/tt0062663/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\07-cuatrocientosgolpes.jpg" alt="Cuatrocientos golpes" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\07-felicidad.jpg" alt="La felicidad" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\07-hiroshima.jpg" alt="Hiroshima Mon Amour" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\07-lamourfou.jpg" alt="L'amour fou" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineAgosto">
                    <h3 class="tituloCiclo">AGOSTO: CINE LATINOAMERICANO</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="\img\08-latinoamerica.jpg" alt="Poster cine latinoamericano" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            En los '60 surge la noción de "cine latinoamericano" como una manifestación artística emparentada por temáticas y propuestas estéticas, así como por la perspectiva de construir un mercado de cine latinoamericano, integrado por espectadores con la necesidad de verse a sí mismos. 
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Dios y el diablo en la tierra del sol <a href="https://www.imdb.com/title/tt0058006/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Fresa y chocolate <a href="https://www.imdb.com/title/tt0106966/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El lugar sin límites <a href="https://www.imdb.com/title/tt0076336/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                La vendedora de rosas <a href="https://www.imdb.com/title/tt0157154/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\08-diosydiablo.jpg" alt="Dios y el diablo en la tierra del sol" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\08-fresachoco.jpg" alt="Fresa y chocolate" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\08-lugarsinlimites.jpg" alt="El lugar sin límites" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\08-vendedora.jpg" alt="La vendedora de rosas" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineSeptiembre">
                    <h3 class="tituloCiclo">SEPTIEMBRE: CICLO DE BUÑUEL</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="\img\09-bunuel.jpg" alt="Poster cine de Buñuel" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            Con una carrera desarrollada en su mayor parte en México y Francia, el aragonés es uno de los grandes genios del séptimo arte. Su cine, tan imitado como inimitable, tan inspirador como único, ha dado lugar a todo tipo de teorías, interpretaciones, lecturas y clasificaciones.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                El ángel exterminador <a href="https://www.imdb.com/title/tt0056732/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Belle de Jour <a href="https://www.imdb.com/title/tt0061395/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                El discreto encanto de la burguesía <a href="https://www.imdb.com/title/tt0068361/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Los olvidados <a href="https://www.imdb.com/title/tt0042804/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\09-angel.jpg" alt="El ángel exterminador" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\09-belle.jpg" alt="Belle de jour" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\09-charme.jpg" alt="El discreto encanto de la burguesía" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\09-olvidados.jpg" alt="Los olvidados" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineOctubre">
                    <h3 class="tituloCiclo">OCTUBRE: CICLO DE SVANKMAJER</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="\img\10-svankmajer.jpg" alt="Poster cine Svankmajer" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            Svankmajer logra crear mundos alucinantes con mucha influencia de la pintura surrealista, a veces con temas escabrosos o de pesadilla. 
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Alicia <a href="https://www.imdb.com/title/tt0095715/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Conspirators of pleasure <a href="https://www.imdb.com/title/tt0117715/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Fausto <a href="https://www.imdb.com/title/tt0109781/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Otesanek <a href="https://www.imdb.com/title/tt0228687/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\10-alice.jpg" alt="Alicia" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\10-conspirators.jpg" alt="Conspirators of pleasure" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\10-faust.jpg" alt="Fausto" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\10-otesanek.jpg" alt="Otesanek" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineNoviembre">
                    <h3 class="tituloCiclo">NOVIEMBRE: CICLO DE KIAROSTAMI</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="\img\11-kiarostami.jpg" alt="Poster ciclo Kiarostami" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            Kiarostamí pertenecía a la generación de cineastas que creó la renombrada nueva ola del cine iraní, creando filmes artísticos innovadores con un alto contenido filosófico y político; algunos empleando realismo, otros mediante metáforas.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Primer plano <a href="https://www.imdb.com/title/tt0100234/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                ¿Dónde queda la casa de mi amigo? <a href="https://www.imdb.com/title/tt0093342/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                La vida continúa <a href="https://www.imdb.com/title/tt0105888/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                A través de los olivos <a href="https://www.imdb.com/title/tt0111845/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\11-closeup.jpg" alt="Primer plano" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\11-friendshouse.jpg" alt="¿Dónde queda la casa de mi amigo?" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\11-lifegoeson.jpg" alt="La vida continúa" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\11-olivos.jpg" alt="A través de los olivos" srcset="">
                        </picture>

                    </section>

                </section>

                <section id="cicloDeCineDiciembre">
                    <h3 class="tituloCiclo">DICIEMBRE: NEORREALISMO ITALIANO</h3>
                    <article class="descripcionCiclo">
                        <picture>
                            <img src="\img\12-neorrealismo.jpg" alt="Poster neorrealismo italiano" srcset="">
                        </picture>
                        <p class="textoCiclo">
                            El neorrealismo italiano fue un movimiento narrativo y cinematográfico que surgió en Italia durante la posguerra de la II Guerra Mundial. Tuvo como objetivo mostrar condiciones sociales más auténticas y humanas, alejándose del estilo histórico y musical que hasta entonces había impuesto la Italia fascista.
                            <br><br>
                            Durante este mes podremos ver:
                                <br><br>
                                Ladrones de bicicletas <a href="https://www.imdb.com/title/tt0040522/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                La strada <a href="https://www.imdb.com/title/tt0047528/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Roma ciudad abierta <a href="https://www.imdb.com/title/tt0038890/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                                Umberto D. <a href="https://www.imdb.com/title/tt0045274/" target="_blank"><i class="fab fa-imdb"></i></a>
                                <br>
                            
                        </p>
                    </article>
                    <section class="postersPeliculas">
                        <picture>
                            <img src="\img\12-ladron.jpg" alt="Ladrones de bicicletas" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\12-lastrada.jpg" alt="La strada" srcset="">
                        </picture>

                        <picture>
                            <img src="\img\12-roma.jpg" alt="Roma ciudad abierta" srcset="">
                        </picture>  

                        <picture>
                            <img src="\img\12-umberto.jpg" alt="Umberto D." srcset="">
                        </picture>

                    </section>

                </section>


            

            </section>
        
        
        </main>

        <%- include ('../modules/footer') %>
</body>
</html>