<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

    <main class="main_box">
        
        <div class="main_candy">

        
        
            <section class="left_candy_container" >
            <h2 class="combos">COMBOS</h2>

            <article class="candy_box">

               <span class="combo_titulo">COMBO PELUCHE MINION 2</span>
                <div class="candy_box_left"  style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/A000002528.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>1 balde de pochoclos. 1 gaseosa grande.
                            1 peluche Minions 2.
                             Modelo sujeto a disponibilidad</span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                   
                    <span class="precio_antes">$1800</span>
                    <span class="precio_ahora">$1650</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>



            <article class="candy_box">
                <span class="combo_titulo">COMBO FAMILIA</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/A000001199.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>2 bolsas de pochoclos medianas. 4 gaseosa medianas.
                            1 golosina sin elección.
                             (sujeto a disponibilidad)</span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$1390</span>
                    <span class="precio_ahora">$1180</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>

            <article class="candy_box">
                <span class="combo_titulo">COMBO PELICULA</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/1486.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>1 balde de pochoclos. 2 gaseosas grandes.
                            1 golosina sin elección.
                             (sujeto a disponibilidad)</span>
                    </div>
                </div>


                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$1150</span>
                    <span class="precio_ahora">$980</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>

            <article class="candy_box">
                <span class="combo_titulo">COMBO INDIVIDUAL</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/1751.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>1 balde de pochoclos. 1 gaseosa grande.
                            </span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$800</span>
                    <span class="precio_ahora">$680</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>


        </section>




        <section class="left_candy_container" >
            <h2 class="combos">POCHOCLOS</h2>

            <article class="candy_box">
                <span class="combo_titulo">BALDE DE POCHOCLOS</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/1751.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>1 Balde de pochoclos. 
                            Imagen a modo ilustrativo</span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$600</span>
                    <span class="precio_ahora">$440</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>



            <article class="candy_box">
                <span class="combo_titulo">POP MEDIANO</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/A000000111.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>1 Bolsa de pochoclos Mediana.
                            Imagen a modo ilustrativo</span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$450</span>
                    <span class="precio_ahora">$370</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>

           

        </section>

        <section class="left_candy_container" >
            <h2 class="combos">BEBIDAS</h2>

            <article class="candy_box">
                
                <span class="combo_titulo">BEBIDA GRANDE</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/A000000113.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>1 Bebida Grande de 1 Lt.
                            Imagen a modo ilustrativo</span>
                    </div>
                </div>


                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$450</span>
                    <span class="precio_ahora">$360</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>


            </article>



            <article class="candy_box">
                
                <span class="combo_titulo">AGUA SABORIZADA</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/A000001430.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>Sabor sujeto a disponibilidad</span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$300</span>
                    <span class="precio_ahora">$240</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>


            <article class="candy_box">
                <span class="combo_titulo">AGUA</span>
                <div class="candy_box_left" style="cursor:pointer" >
                    <div class="img_box"><img class= "img_article"src="https://static.cinemarkhoyts.com.ar/Images/ConcessionItemImage/A000000126.png?v=20112021" alt=""></div>
                   
                    <div class="img_descripcion">
                        <span>Imagen a modo ilustrativo. 
                            Modelo sujeto a disponibilidad
                        </span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                    <span class="precio_antes">$300</span>
                    <span class="precio_ahora">$200</span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>

        </section>

    </div>
        
        <!-- <! aca va un banner vertical en modo fixed -->
        
        <!-- <section class="column_box">
            <div class="box_1_compra">

                <div class="descripcion_left" style="cursor:pointer" >
                    <img class="img_compra_online" src="https://tickets.cinemarkhoyts.com.ar/NSCandy//images/15off.png" alt="">
                </div>
                
                <div class="descripcion_rigth" style="cursor:pointer" >
                    <span class="descripcion_title">COMBOS ONLINE</span>
                    <span>CINEMELIES</span>
                    <span><i class="fas fa-map-marker-alt"></i>Av. Corrientes 2341, CABA</span>
                </div>
            </div>
            <hr class="la_linea">
            <div class="el_totalizador">
                
                <span class="detalle_total">TOTAL</span>
                <span>$0</span>
            </div>
            <div>
                <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">Volver</button>
                    <button type="reset" class="reset">Paso Siguiente</button> 
                </fieldset>
            </div>

        
        </section>  -->


    </main>










    <%- include ('../modules/footer') %>


</body>
</html>