<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 


    <main>
        <article id="background">
                                
            <img src="/img/thefall.jpg">
            
        
        <article id="centeredTitle"> Nosotros
        </article>
        </article>
        <section id="mainAbout">
            
            
            <section id="descripcionAbout">    
                <article>
                    El Cine Melies nace de la necesidad de contar con un espacio donde los cinéfilos puedan disfrutar de todo tipo de cine. Desde películas mudas del inicio del siglo XX hasta los últimos estrenos más pochocleros, podrán encontrar todo en un sólo lugar.
                </article>
                <picture>
                    <img src="/img/cine.jpg" alt="Cine Melies" srcset="">
                </picture>
            </section>

        </section>

        

    </main>

    <%- include ('../modules/footer') %>
    </body>
</html>