<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 


    
<main>

    <section class="los_precios">
       <div class="tarifas">
        <h2 class="tarifas_title">Tarifas Vigentes</h2>  
       
       </div>
        
        <div class = "_2d">
              
            <div class="detalle_2d">
                <h3 class="salas_title">Salas 2D</h3>
                <hr class="la_linea">
                <ul>
                    <li>GENERAL  <span class="precios">$780</span></li>
                    <li>MENOR NAP(**)  <span class="precios">$630</span></li>
                    <li>JUBILADOS NAP(**)   <span class="precios">$630</span></li>
                    <li>LUNES A JUEVES   <span class="precios">$390</span></li>
                </ul>
            </div>

            
               <picture class="imagen_2d"><img id="img_2d"src="/img/2dd.png" alt="2d"></picture> 
           
        </div>


        <div class = "_3d">
            <div class="detalle_3d">
                <h3 class="salas_title">Salas 3D</h3>
                <hr class="la_linea">
                <ul>
                    <li>GENERAL  <span class="precios">$900</span></li>
                    <li>MENOR NAP(**)  <span class="precios">$900</span></li>
                    <li>JUBILADOS NAP(**)   <span class="precios">$900</span></li>
                    <li>LUNES A JUEVES   <span class="precios">$450</span></li>
                </ul>
            </div>
           
             <picture class="imagen_3d"><img id="img_3d" src="/img/3D.png" alt="3d"></picture> 
           
        </div>

        <div class="terminos">
            <h3>TERMINOS Y CONDICIONES</h3>
            <p>(1) COMPRA ONLINE: LA COMPRA DE ENTRADAS DE CINE A TRAVÉS DEL SITIO WEB SE ENCUENTRA SUJETA A UN COSTO ADICIONAL POR CARGO DE SERVICIO POR CADA ENTRADA ADQUIRIDA, EL CUAL SE ADICIONA AL VALOR DE LA ENTRADA. EL CARGO DE SERVICIO ES DE: - SALAS 2D, 3D: $45 </p>
            <p>(2)SALA 3D:
                NO SE ACEPTAN ENTRADAS CORPORATIVAS, PASES DE NINGÚN TIPO QUE NO SEAN LOS ESPECIFICADOS ANTERIORMENTE. ESTA SALA NO CUENTA CON PRECIOS DIFERENCIALES PARA MENORES DE 12 AÑOS NI MAYORES DE 65 AÑOS.</p>
            <p>(**)NAP
                NO APLICA PROMOCIONES.</p>
            <p>(***)
                MENORES DE 2 AÑOS NO ABONAN ENTRADA MIENTRAS NO OCUPEN UNA BUTACA ADICIONAL.</p>
            
    </section>

</main>


    <%- include ('../modules/footer') %>


</body>
</html>