
<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 


    <main>
        <article id="background">
                                
            <img src="/img/rashomon.jpg">
            
        
        <article id="centeredTitle"> Nuestras salas
        </article>
        </article>
        <section id="mainAbout">
            <section class="intro">
                Nuestro cine cuenta con las más cómodas y modernas salas para poder tener una experiencia única y pasar un momento especial junto a las mejores películas. Contamos con 4 salas llamadas Melies, Kurosawa, Godard, y la más grande de las cuatro, la sala Spielberg. Todas cuentan con asientos cómodos y reclinables, y dos de ellas, la Godard y la Spielberg, tienen tecnología 3D.
            </section>


            <div class="container">
                <div class="box">
                  <img src="/img/salamelies01.jpg">
                  <span>Melies</span>
                </div>
                <div class="box">
                  <img src="/img/salagodard.jpg">
                  <span>Godard</span>
                </div>
                <div class="box">
                  <img src="/img/salamelies02.jpg">
                  <span>Kurosawa</span>
                </div>
                <div class="box">
                  <img src="/img/salaspielberg.jpg">
                  <span>Spielberg</span>
                </div>
              </div>
            

        </section>

        

    </main>

    <%- include ('../modules/footer') %>
    </body>
</html>