<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

   <!--Librerías-->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

      <!--CSS-->
      <link rel="stylesheet" href="/css/header.css">
      <link rel="stylesheet" href="/css/footer.css">
      <link rel="stylesheet" href="/css/login.css" >
      
</head>
<body>
 <header class = "header_superior">
        <nav class ="main_nav">
            <picture>
                <a href="/"><img src="/img/LOGOVFINAL2.png" alt="Logo Cine Melies" id="logo"></a>
            </picture>
    
            <dl class="nav01">
                <dt class="item"><a class="option" href="/agenda">Agenda</a></dt>
                <dt class="item"><a class="option" href="/precios">Precios</a></dt>
                <dt class="item"><a class="option" href="/combos">Combos</a></dt>
                <dt class="item"><a class="option" href="/nosotros">Nosotros</a></dt>
            </dl>
            <form class="search" action="/" method="get">
                <fieldset>
                    <input type="search" placeholder="Buscar" name="search" />
                    <button  .class="buscador">
                        <i class="fas fa-search"></i>
                    </button>
                </fieldset>
            </form>
            <section id="nav02">
                <a href="/login"><i class="fas fa-user iconNav"></i></a>
                <a href="/carrito"><i class="fas fa-shopping-cart iconNav"></i></a>
                <a href="/menu"><i class="fas fa-bars"></i></a>
            </section>
        </nav>        
</header>


<main>
    <article>  <h3> INGRESÁ TU CUENTA  </h3>  </article>
<section class="main-form"> 
    <figure id="cine-foto">
        <img src="/img/cinefilo.png" alt="">
    </figure>
<form action="/"  method="post" class="fr">
    <fieldset >
        <legend > Usuario </legend>
        <label for="Usuario" class="dn"> Usuario</label>
        <input type="text" name="Usuario" id="Usuario" placeholder=" Usuario"  required >
    </fieldset>

    <fieldset>
        <legend > Contraseña </legend>
        <label for="clave" class="dn"> Contraseña  </label>
        <input type="password" name="confirm" id="confirm" placeholder="Escribí tu contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Debe contener 8 o más caracteres de al menos un número y una letra mayúscula y minúscula" required >
    </fieldset>
    </fieldset>

    <fieldset class="usuario" >
        <input type="checkbox" id="vehicle1" name="vehicle1"  value="Bike">
        <label for="vehicle1"> Recordar </label> 
    </fieldset>

    <fieldset class="botones">
        <legend class="dn"> Botones del Formulario </legend>
        <button type="submit"> Ingresar </button>   
    </fieldset>
   
    <fieldset >
    <a href="">  <article class="txt-register"> <h3> ¿ Olvidaste tu contraseña ?  </h3>  </article></a>  
    </fieldset>

     
</form>
</section>
<article class="txt-register"> <h3> ¿ No ténes Usuario ? <a href="/register" id="register"> ¡Registrate! Acá </h3> </a> 
    
</article>
</main>

<%- include ('../modules/footer') %>

</body>
</html>