<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<main>

    <section id="profileMain">

        <h1 class="titulos">Mi perfil</h1>

        <form action="/users/logout" method="post">
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">logout</button> 
            </fieldset>
        </form>

    </section>


</main>


<%- include ('../modules/footer') %>

</body>
</html>
